<div>
    <div class="row my-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="baskerville">
                Mon statut
            </h4>
        </div>
        <div class="col-12 col-sm-6">
            <div class="fw-bold">Statut</div>
            {{ ask.status }}
        </div>
        <div class="col-12 col-sm-6">
            <div class="fw-bold">Objectif</div>
            {{ ask.goal }}
        </div>
    </div>

    <hr>

    <div class="row my-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="baskerville">
                Ma formation
            </h4>
        </div>
        <div class="col-12 col-sm-6">
            <div class="fw-bold">Formation demandée</div>
            {{ ask.formationLibelle }}
        </div>
        <div class="col-12 col-sm-6">
            <div class="fw-bold">Session</div>
            {{ ask.formationSession.date }}
        </div>
        <div class="text-end">
            <a class="btn btn-success" href='/demande-de-formation?instance={{ instance }}&step=2'>
                <i class="fas fa-pen"></i>
                Modifier
            </a>
        </div>
    </div>

    <hr>

    <div class="row my-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="baskerville">
                Mes coordonnées
            </h4>
        </div>
        <div class="row py-2">
            {% if ask.companyName != null %}
                <div class="col-12 col-sm-6">
                    <div class="fw-bold">Nom de l'entreprise</div>
                    {{ ask.companyName }}
                </div>
            {% endif %}

            {% if ask.siret != null %}
                <div class="col-12 col-sm-6">
                    <div class="fw-bold">SIRET</div>
                    {{ ask.siret }}
                </div>
            {% endif %}

            {% if ask.sirenOrRm != null %}
                <div class="col-12 col-sm-6">
                    <div class="fw-bold">SIREN ou RM</div>
                    {{ ask.sirenOrRm }}
                </div>
            {% endif %}

            {% if ask.idPoleEmploi != null %}
                <div class="col-12 col-sm-6">
                    <div class="fw-bold">Identifiant Pôle Emploi</div>
                    {{ ask.idPoleEmploi }}
                </div>
            {% endif %}
        </div>

        <div class="row py-2">
            <div class="col-12 col-sm-6">
                <div class="fw-bold">Prénom</div>
                {{ ask.firstName }}
            </div>
            <div class="col-12 col-sm-6">
                <div class="fw-bold">Nom</div>
                {{ ask.lastName }}
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="fw-bold">Email</div>
                    {{ ask.email }}
                </div>
                <div class="col-12 col-sm-6">
                    <div class="fw-bold">Téléphone</div>
                    {{ ask.phoneNumber }}
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-8">
                <div class="fw-bold">Adresse</div>
                {{ ask.address }}
            </div>
            <div class="row">
                <div class="col-6 col-sm-4">
                    <div class="fw-bold">Code Postal</div>
                    {{ ask.postalCode }}
                </div>
                <div class="col-6 col-sm-4">
                    <div class="fw-bold">Ville</div>
                    {{ ask.city }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="fw-bold">Département</div>
                    {{ ask.department }}
                </div>
                <div class="col-12 col-sm-4">
                    <div class="fw-bold">Pays</div>
                    {{ ask.country }}
                </div>
            </div>
        </div>

        <div class="col-12 pt-2">
            <div class="fw-bold">Catégorie d'activité actuelle</div>
            <ul>
                {% for activity in ask.activityCategory %}
                    <li>{{ activity }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-12 col-sm-4">
            <div class="fw-bold">Situation de handicap</div>
            {% if ask.handicap == null %}
                Non
            {% else %}
                Oui
            {% endif %}
        </div>

        <div class="text-end">
            <a class="btn btn-success" href='/demande-de-formation?instance={{ instance }}&step=3'>
                <i class="fas fa-pen"></i>
                Modifier
            </a>
        </div>
    </div>

    {% if ask.isStagiaireMultiple == true %}
        <hr>

        <div class="row my-3">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="baskerville">
                    Les stagiaires
                </h4>
            </div>
            <ul class="stagiaires row ps-0 g-2" style="list-style-type: none;">
                {% for stagiaire in ask.stagiaires %}
                    <li class="col-12 col-sm-6 col-md-4 shadow-lg p-4 border">
                        <h4>STAGIAIRE</h4>
                        <div class="col-12 col-sm-6">
                            <div class="fw-bold">Prénom</div>
                            {{ stagiaire.firstName }}
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="fw-bold">Nom</div>
                            {{ stagiaire.lastName }}
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="fw-bold">Email</div>
                                {{ stagiaire.email }}
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="fw-bold">Téléphone</div>
                                {{ stagiaire.phoneNumber }}
                            </div>
                        </div>
                        {% if stagiaire.currentJob != null %}
                            <div class="col-12 col-sm-6">
                                <div class="fw-bold">Poste occupé</div>
                                {{ stagiaire.currentJob }}
                            </div>
                        {% endif %}
                        <div class="col-12 col-sm-4">
                            <div class="fw-bold">Situation de handicap</div>
                            {% if ask.handicap == null %}
                                Non
                            {% else %}
                                Oui
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>

            {% if ask.personnalizedSession == true %}
                <div class="col-12 col-sm-6">
                    <div class="fw-bold">Session personnalisée</div>
                    Oui
                </div>
            {% endif %}

            <div class="text-end">
                <a class="btn btn-success" href='/demande-de-formation?instance={{ instance }}&step=5'>
                    <i class="fas fa-pen"></i>
                    Modifier
                </a>
            </div>
        </div>
    {% endif %}

    <hr>

    <div class="row my-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="baskerville">
                Pré-requis :
            </h4>
        </div>

        <div class="row">
            {% for key, prerequisite in prerequisites %}
                {% if key == "Commentaires" %}
                    <div class="col-12 py-3">
                {% else %}
                    <div class="col-6 col-sm-4 col-md-3">
                {% endif %}
                        <div class="fw-bold">{{ key }}</div>
                        {{ prerequisite|capitalize }}
                    </div>
            {% endfor %}
        </div>

        <div class="text-end">
            <a
            class="btn btn-success"
            {% if ask.stagiaires == null %}
                href='/demande-de-formation?instance={{ instance }}&step=4'
            {% elseif ask.isStagiaireMultiple == false %}
                href='/demande-de-formation?instance={{ instance }}&step=5'
            {% else %}
                href='/demande-de-formation?instance={{ instance }}&step=6'
            {% endif %}
            >
                <i class="fas fa-pen"></i>
                Modifier
            </a>
        </div>
    </div>

    <hr>

    <div id="renseignements" class="row my-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="baskerville">
                Renseignements utiles
            </h4>
        </div>
        <div>
            <span class="fw-bold">J'ai connu le centre de formation LAGOON® par...</span>
            <ul>
                {% for known in ask.knowsUs %}
                    <li>{{ known }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <span class="fw-bold">Je pense financer la formation par...</span>
            <ul>
                <li>{{ ask.funding }}</li>
            </ul>
        </div>

        <div class="text-end">
            <a
                    class="btn btn-success"
                    {% if ask.stagiaires == null %}
                        href='/demande-de-formation?instance={{ instance }}&step=4#renseignements'
                    {% elseif ask.isStagiaireMultiple == false %}
                        href='/demande-de-formation?instance={{ instance }}&step=5#renseignements'
                    {% else %}
                        href='/demande-de-formation?instance={{ instance }}&step=6#renseignements'
                    {% endif %}
            >
                <i class="fas fa-pen"></i>
                Modifier
            </a>
        </div>
    </div>
</div>