{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Galerie de nos plus belles piscines naturelles{% endblock %}

{% block description %}
    Découvrez des photos de nos plus beaux projets. Entre construction et rénovation de piscines écologiques en résine.
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gallery') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 pt-lg-5">
        <div class="row py-5 px-none px-md-4 px-lg-5">
            <div class="">
                <h1 class="inter-black size-1">Galerie</h1>
                <p>
                    Découvrez quelques uns de nos plus beaux projets réalisés et voyez à quel point chaque
                    piscine LAGOON est unique. Laissez vous inspirer !
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-5">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_rochers.webp') }}" type="image/webp">
                    <source srcset="{{ asset('build/images/gallery/piscine_rochers.jpg') }}" type="image/jpeg">
                    <img src="{{ asset('build/images/gallery/piscine_rochers.jpg') }}"
                         alt="Une piscine lagoon avec inclusion de rochers naturels"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-7">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_vue_entiere.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_vue_entiere.JPG') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_vue_entiere.JPG') }}"
                         alt="Vue entière d'un bassin de type lagon avec une eau bleutée dans un jardin au milieu de la verdure"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-6">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_vide.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_vide.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_vide.jpg') }}"
                         alt="Un bassin lagoon sans eau avec pentes douces dans un jardin de verdure"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-3">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_palmier.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_palmier.jpeg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_palmier.jpeg') }}"
                         alt="Piscine lagoon avec eau bleue et inclusion d'un palmier sur la plage"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-3">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/rochers_spot.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/rochers_spot.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/rochers_spot.jpg') }}"
                         alt="Décoration avec inclusion de rochers et spots lumineux en bord d'un bassin lagoon"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-5">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_rocher.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_rocher.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_rocher.jpg') }}"
                         alt="Bassin lagoon en résine avec inclusion de rochers et pelouse synthétique"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-7">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_vue_haute.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_vue_haute.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_vue_haute.jpg') }}"
                         alt="Vue de drone d'une piscine lagoon avec escaliers et pente douce et inclusion de trois rochers"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-3">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_carrée.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_carrée.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_carrée.jpg') }}"
                         alt="Rénovation d'une piscine rectangulaire recouverte de résine et avec addition de plages par lagoon"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-3">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/quartz_marbre.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/quartz_marbre.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/quartz_marbre.jpg') }}"
                         alt="Gros plan sur une plage lagoon en quartz et marbre donnant un effet de couleur bleu foncé à la résine"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-6">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_frejus.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_frejus.jpeg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_frejus.jpeg') }}"
                         alt="Une piscine lagoon dans un jardin avec inclusion de sculptures et résine bleu foncée et couleur sable"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-2">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_diagonale.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_diagonale.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_diagonale.jpg') }}"
                         alt="Bassin de type lagon avec un palmier devant"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-4">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/plage.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/plage.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/plage.jpg') }}"
                         alt="Gros plan sur la texture de la résine des plages lagoon"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-6">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_nuit.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_nuit.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_nuit.jpg') }}"
                         alt="Piscine lagoon de nuit avec jardin éclairé et fond de l'eau éclairé par des spots lumineux de couleur bleue"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-8">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_fond_bleu.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_fond_bleu.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_fond_bleu.jpg') }}"
                         alt="Piscine lagoon avec fond en résine de couleur bleue ciel"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-4">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/rochers.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/rochers.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/rochers.jpg') }}"
                         alt="Un bassin Lagoon avec inclusion de deux rochers dans un jardin en pelouse synthétique"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-5">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/renovation_piscine.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/renovation_piscine.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/renovation_piscine.jpg') }}"
                         alt="Rénovation de piscine effectuée par lagoon avec débordement au milieu de pierres naturelles"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-4">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_rocs.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_rocs.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_rocs.jpg') }}"
                         alt="Piscine lagoon avec inclusion de rochers blancs et résine de couleur claire"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-3">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/rocher_cascade.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/rocher_cascade.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/rocher_cascade.jpg') }}"
                         alt="Un bassin Lagoon avec cascade et inclusion de rochers"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-12">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/rocher_eau.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/rocher_eau.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/rocher_eau.jpg') }}"
                         alt="Gros plan sur un bord de piscine avec un rocher naturel"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-7">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/resine.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/resine.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/resine.jpg') }}"
                         alt="Gros plan sur une plage lagoon avec pente douce et un dégradé de bleus transparents de la couleur de l'eau"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-5">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_eau_bleue.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_eau_bleue.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_eau_bleue.jpg') }}"
                         alt="Plage lagoon dans un jardin avec pelouse naturelle"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-4">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_plage_noire.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_plage_noire.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_plage_noire.jpg') }}"
                         alt="Piscine lagoon en résine avec grande plage et résine de couleur anthracite"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-4">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_quartz_marbre.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_quartz_marbre.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_quartz_marbre.jpg') }}"
                         alt="Piscine lagoon avec deux bords verticaux et pentes douces à débordement"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-4">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_bagnol.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_bagnol.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_bagnol.jpg') }}"
                         alt="Piscine lagoon avec villa du sud de la france dans le fond de l'image"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-6">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_jardin.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_jardin.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_jardin.jpg') }}"
                         alt="Petit bassin lagoon en résine avec inclusion de rocher"
                         class="img-gallery py-2">
                </picture>
            </div>
            <div class="col-6">
                <picture>
                    <source srcset="{{ asset('build/images/gallery/piscine_pins.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/gallery/piscine_pins.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/gallery/piscine_pins.jpg') }}"
                         alt="Piscine lagoon au milieu de pins"
                         class="img-gallery py-2">
                </picture>
            </div>
        </div>

        <div class="row section mx-xs-none bg-dark text-light">
            <div>
                <p class="text-uppercase">Et parce que quand il y en a plus, il y en a encore...</p>
                <h2 class="text-center baskerville size-2 py-4">Découvrez quelques projets <span class="underlined size-2">hors normes !</span></h2>
            </div>

            <div class="">
                <div id="carouselOtherProjects" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselOtherProjects" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselOtherProjects" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselOtherProjects" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <picture>
                                <source srcset="{{ asset('build/images/hors-2.webp') }}" type="image/webp" class="w-100">
                                <source srcset="{{ asset('build/images/hors-2.jpg') }}" type="image/jpeg" class="w-100">
                                <img src="{{ asset('build/images/hors-2.jpg') }}"
                                     alt="Une piscine Lagoon dans une grotte souterraine illuminée"
                                     class="d-block w-75 mx-auto">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Dans une grotte...</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/hors-5.webp') }}" type="image/webp" class="w-100">
                                <source srcset="{{ asset('build/images/hors-5.jpg') }}" type="image/jpeg" class="w-100">
                                <img src="{{ asset('build/images/hors-5.jpg') }}"
                                     alt="Une cascade avec de l'eau coulant entre des rochers sur le bord d'une plage Lagoon"
                                     class="d-block w-75 mx-auto">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Avec une cascade...</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/hors-1.webp') }}" type="image/webp" class="w-100">
                                <source srcset="{{ asset('build/images/hors-1.jpg') }}" type="image/jpeg" class="w-100">
                                <img src="{{ asset('build/images/hors-1.jpg') }}"
                                     alt="Une vaste plage Lagoon au milieu de cocotiers surplombant la mer"
                                     class="d-block w-75 mx-auto">
                            </picture>
                            <div class="carousel-caption text-dark d-none d-md-block">
                                <h5>Comme à la plage...</h5>
                                <p>
                                    800 m<sup>2</sup> de plan d'eau<br>
                                    900 m<sup>2</sup> d'espace détente<br>
                                </p>
                                <p>
                                    <strong>Saint Martin, Caraïbes</strong><br>
                                    Février 2020
                                </p>

                                <a class="btn btn-outline-dark btn-sm" href="https://www.youtube.com/watch?v=p9rvxWa411M" target="_blank">
                                    <i class="fa fa-play" aria-hidden="true"></i>&nbsp;Voir la vidéo de la construction
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselOtherProjects" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselOtherProjects" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row big-spacing bg-yellow">
            <div class="">
                <p class="baskerville size-3 pb-5">
                    Et vous alors ? Quel est <span class="underline-blue inter-black">votre rêve</span> ?
                </p>

                <div class="m-2 text-center">
                    <a type="button"
                       class="btn btn-lg btn-dark rounded-corners"
                       href="{{ path('app_project_ask') }}">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        &nbsp;Composer mon rêve
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
