{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Galerie de nos plus belles piscines naturelles{% endblock %}

{% block description %}
    Découvrez des photos de nos plus beaux projets. Entre construction et rénovation de piscines écologiques en résine.
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gallery') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 container-fluid">
        <div class="row py-5 px-none px-md-4 px-lg-5">
            <div class="text-title">
                <h1 class="baskerville size-1">Galerie</h1>
                <p>
                    Découvrez quelques uns de nos plus beaux projets réalisés et voyez à quel point chaque
                    piscine LAGOON est unique. Laissez vous inspirer !
                </p>
            </div>
        </div>

        <div class="py-5 row align-items-center justify-content-center">
            <div class="col-12 col-sm-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/1.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/1.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/1.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/2.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/2.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/2.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/3.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/3.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/3.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/4.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/4.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/4.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/5.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/5.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/5.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/6.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/6.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/6.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/7.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/7.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/7.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/8.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/8.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/8.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/9.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/9.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/9.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/10.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/10.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/10.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/11.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/11.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/11.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/12.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/12.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/12.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/13.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/13.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/13.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/gallery/14.webp') }}" type="image/webp" class="img-gallery">
                                <source srcset="{{ asset('build/images/gallery/14.jpg') }}" type="image/jpeg" class="img-gallery">
                                <img src="{{ asset('build/images/gallery/14.jpg') }}"
                                     alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                     class="img-gallery">
                            </picture>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <ul class="carousel-indicators list-inline mx-auto my-3 position-relative justify-content-start" style="overflow: scroll;">
                        <li class="list-inline-item active">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/1.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/1.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/1.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/2.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/2.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/2.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/3.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/3.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/3.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/4.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/4.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/4.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/5.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/5.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/5.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/6.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/6.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/6.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/7.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/7.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/7.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/8.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/8.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/8.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/9.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/9.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/9.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/10.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/10.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/10.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/11.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/11.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/11.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/12.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/12.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/12.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/13.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/13.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/13.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14">
                                <picture>
                                    <source srcset="{{ asset('build/images/gallery/14.webp') }}" type="image/webp" class="img-gallery h-60p">
                                    <source srcset="{{ asset('build/images/gallery/14.jpg') }}" type="image/jpeg" class="img-gallery h-60p">
                                    <img src="{{ asset('build/images/gallery/14.jpg') }}"
                                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                                         class="img-gallery h-60p w-60p">
                                </picture>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row section mx-xs-none bg-dark text-light">
            <div>
                <p class="text-uppercase">Et parce que quand il y en a plus, il y en a encore...</p>
                <h2 class="text-center baskerville size-2 py-4">Découvrez quelques projets hors normes !</h2>
            </div>

            <div class="">
                <div id="carouselOtherProjects" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselOtherProjects" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselOtherProjects" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselOtherProjects" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <picture>
                                <source srcset="{{ asset('build/images/hors-2.webp') }}" type="image/webp" class="w-100">
                                <source srcset="{{ asset('build/images/hors-2.jpg') }}" type="image/jpeg" class="w-100">
                                <img src="{{ asset('build/images/hors-2.jpg') }}"
                                     alt="Une piscine Lagoon dans une grotte souterraine illuminée"
                                     class="d-block w-75 mx-auto">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Dans une grotte...</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/hors-5.webp') }}" type="image/webp" class="w-100">
                                <source srcset="{{ asset('build/images/hors-5.jpg') }}" type="image/jpeg" class="w-100">
                                <img src="{{ asset('build/images/hors-5.jpg') }}"
                                     alt="Une cascade avec de l'eau coulant entre des rochers sur le bord d'une plage Lagoon"
                                     class="d-block w-75 mx-auto">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Avec une cascade...</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source srcset="{{ asset('build/images/hors-1.webp') }}" type="image/webp" class="w-100">
                                <source srcset="{{ asset('build/images/hors-1.jpg') }}" type="image/jpeg" class="w-100">
                                <img src="{{ asset('build/images/hors-1.jpg') }}"
                                     alt="Une vaste plage Lagoon au milieu de cocotiers surplombant la mer"
                                     class="d-block w-75 mx-auto">
                            </picture>
                            <div class="carousel-caption text-dark d-none d-md-block">
                                <h5>Comme à la plage...</h5>
                                <p>
                                    800 m<sup>2</sup> de plan d'eau<br>
                                    900 m<sup>2</sup> d'espace détente<br>
                                </p>
                                <p>
                                    <strong>Saint Martin, Caraïbes</strong><br>
                                    Février 2020
                                </p>

                                <a class="btn btn-outline-dark btn-sm" href="https://www.youtube.com/watch?v=p9rvxWa411M" target="_blank">
                                    <i class="fa fa-play" aria-hidden="true"></i>&nbsp;Voir la vidéo de la construction
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselOtherProjects" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselOtherProjects" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="big-spacing">
            <div class="section">
                <p class="baskerville size-3 pb-5">
                    Et vous alors ? Quel est <span class="text-blue">votre</span> rêve ?
                </p>

                <div class="m-2 text-center">
                    <a
                            type="button"
                            class="btn btn-yellow"
                            href="{{ path('app_project') }}"
                    >
                        <i class="fa fa-play" aria-hidden="true"></i>
                        &nbsp;Composer mon rêve
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
