{% if formation.id == 1 %}
    <div class="col-12 col-md-6">
        <div>
            <i class="fas fa-tools form-icon"></i>
        </div>

        <div class="py-3 row">
            {% for key, prerequisite in prerequisites %}
                {% if prerequisite != "" %}
                    <div
                    {% if key == "Commentaires" %}
                        class="col-12 py-3"
                    {% endif %}
                    >
                        <div><span class="fw-bold">{{ key }} : </span>{{ prerequisite|capitalize }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <input type="hidden" name="prerequisites" value="{{ prerequisites|json_encode }}"/>

        <div class="text-end">
            <a class="btn btn-success rounded-corners"
                    {% if ask.stagiaires == null %}
                        href='/demande-de-formation?instance={{ instance }}&step=4'
                    {% elseif ask.isStagiaireMultiple == false %}
                        href='/demande-de-formation?instance={{ instance }}&step=5'
                    {% else %}
                        href='/demande-de-formation?instance={{ instance }}&step=6'
                    {% endif %}
            >
                <i class="fas fa-pen"></i>
            </a>
        </div>
    </div>
{% endif %}

<div class="col-12 col-md-6 pt-5 pt-md-0">
    <div>
        <i class="far fa-file-alt form-icon"></i>
    </div>
    <div class="pt-3">
        <span class="fw-bold">J'ai connu le centre de formation LAGOON® par...</span>
        <ul>
            {% for known in ask.knowsUs %}
                <li>{{ known }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <span class="fw-bold">Je pense financer la formation par...</span>
        <ul>
            <li>{{ ask.funding }}</li>
        </ul>
    </div>

    <div class="text-end">
        <a class="btn btn-success rounded-corners"
                {% if ask.stagiaires == null %}
                    href='/demande-de-formation?instance={{ instance }}&step=4#renseignements'
                {% elseif ask.isStagiaireMultiple == false %}
                    href='/demande-de-formation?instance={{ instance }}&step=5#renseignements'
                {% else %}
                    href='/demande-de-formation?instance={{ instance }}&step=6#renseignements'
                {% endif %}
        >
            <i class="fas fa-pen"></i>
        </a>
    </div>
</div>