<div class="col-12 col-md-6 pt-5 pt-md-0">
    <div>
        <i class="fas fa-briefcase form-icon"></i>
    </div>
    <div class="py-3 d-flex align-items-end justify-content-between">
        <div>
            <div class="fw-bold">
                {{ ask.status }}
            </div>
            <div>
                {% if ask.companyName != null %}
                    <div class="d-flex">
                        <div class="pe-2">
                            <i class="fa-regular fa-building"></i>
                        </div>
                        <div>
                            {{ ask.companyName }}
                        </div>
                    </div>
                    {% if ask.companyAddress is defined %}
                        <div class="d-flex">
                            <div class="pe-2">
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <div>
                                {{ ask.companyAddress }}
                                <br>
                                {% if ask.companyPostalCode is defined %}
                                    {{ ask.companyPostalCode }}
                                {% endif %}
                                {% if ask.companyCity is defined %}
                                    {{ ask.companyCity }}
                                {% endif %}
                                <br>
                                {% if ask.companyCountry is defined %}
                                    {{ ask.companyCountry }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if ask.siret != null %}
                    <div>
                        <span class="fw-bold">SIRET : </span>{{ ask.siret }}
                    </div>
                {% endif %}

                {% if ask.sirenOrRm != null %}
                    <div>
                        <span class="fw-bold">SIREN ou RM : </span>{{ ask.sirenOrRm }}
                    </div>
                {% endif %}

                {% if ask.idPoleEmploi != null %}
                    <div>
                        <span class="fw-bold">Identifiant Pôle Emploi :</span>{{ ask.idPoleEmploi }}
                    </div>
                {% endif %}
                {% if ask.activityCategory != null %}
                    <div class="fw-bold">Catégorie d'activité : </div>
                    <ul>
                        {% for activity in ask.activityCategory %}
                            <li>{{ activity }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="text-end">
            <a class="btn btn-success rounded-corners" href='/demande-de-formation?instance={{ instance }}&step=3'>
                <i class="fas fa-pen"></i>
            </a>
        </div>
    </div>
</div>