<hr>

<div class="row my-3">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="size-3">
            Les stagiaires
        </h4>
    </div>
    <ul class="stagiaires row ps-0 g-2" style="list-style-type: none;">
        {% for stagiaire in ask.stagiaires %}
            <li class="bg-grey d-flex flex-column flex-lg-row justify-content-between rounded-corners p-4 mb-3">
                <div class="ps-5">
                    <i class="fas fa-user size-1"></i>
                </div>
                <div class="ps-5">
                    <div>
                        {{ stagiaire.firstName }} {{ stagiaire.lastName }}
                    </div>
                    <div class="d-flex">
                        <div class="pe-2">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div>
                            {{ stagiaire.email }}
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="pe-2">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div>
                            {{ stagiaire.phoneNumber }}
                        </div>
                    </div>
                </div>
                {% if stagiaire.currentJob != null %}
                    <div class="ps-5 d-flex">
                        <div class="pe-2">
                            <i class="fas fa-briefcase"></i>
                        </div>
                        <div>
                            {{ stagiaire.currentJob }}
                        </div>
                    </div>
                {% endif %}
                <div class="ps-5">
                    {% if ask.handicap != null %}
                        Situation de handicap
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if ask.personnalizedSession == true %}
        <div class="col-12 col-sm-6">
            Session personnalisée : Oui
        </div>
    {% endif %}

    <div class="text-end">
        <a class="btn btn-success rounded-corners" href='/demande-de-formation?instance={{ instance }}&step=5'>
            <i class="fas fa-pen"></i>
        </a>
    </div>
</div>

<hr>