{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Nos Formations{% endblock %}

{% block description %}
    Découvrez nos différentes formations autour de la technologie LAGOON&reg;, entre conception de bassin ou construction
    de piscine écologique. Reconvertissez vous ou augmentez en compétences avec LAGOON&reg; !
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5">
        <div class="row py-5 px-none px-md-4 px-lg-5">
            <h1 class="inter-black size-1">Formations</h1>
            <div>
                <p>
                    Envie d’augmenter vos compétences ?
                    Découvrez nos différentes formations autour de la technologique LAGOON.
                </p>
            </div>

            <div class="row pt-4">
                {% for formation in formations %}
                    <div class="col-12 col-sm-6 col-md-4 py-2">
                        <div class="p-5 bg-blue-clear rounded-corners h-650p">
                            <img src="{{ asset('uploads/images/formations/'~formation.image) }}"
                                 alt="{{ formation.libelle|u.truncate(10, '...') }}"
                                 height="40"
                                 class="img-gallery h-180p">
                            <h2 class="baskerville size-3 pt-3">{{ formation.libelle }}</h2>
                            <div class="text-secondary">{{ formation.presentation }}</div>
                            <ul>
                                <li>{{ formation.place }}</li>
                                <li>{{ formation.cost }}</li>
                                <li>{{ formation.duration }}</li>
                            </ul>
                            <div class="text-center">
                                <a class="btn btn-yellow"
                                   href="">
                                    Voir plus
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}