{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Nos Formations{% endblock %}

{% block description %}
    Découvrez nos différentes formations autour de la technologie LAGOON&reg;, entre conception de bassin ou construction
    de piscine écologique. Reconvertissez vous ou augmentez en compétences avec LAGOON&reg; !
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formation') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formation') }}
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 pt-lg-5">
        <div class="row py-5 px-none px-md-4 px-lg-5">
            <h1 class="inter-black size-1">Formations</h1>
            <div>
                <p>
                    Envie d’augmenter vos compétences ?
                    Découvrez nos différentes formations autour de la technologique LAGOON.
                </p>
            </div>

            <div class="row pt-4">
                {% for formation in formations %}
                    <div class="row bg-blue-clear m-3 rounded-corners-start align-items-center g-0">
                        <div class="col-12 col-md-2 h-adaptative">
                            <img src="{{ asset('uploads/images/formations/'~formation.image) }}"
                                 alt="{{ formation.libelle|u.truncate(10, '...') }}"
                                 class="img-presentation rounded-corners-start">
                        </div>
                        <div class="col-12 col-md-8 p-3">
                            <h2 class="inter-black size-3 pt-3">{{ formation.libelle }}</h2>
                            <div class="text-secondary">{{ formation.presentation }}</div>
                            <div class="py-2 d-flex flex-column flex-sm-row ps-3 ps-sm-0 justify-content-around">
                                <div>
                                    <i class="fa fa-map-marker"></i>
                                    {{ formation.place }}
                                </div>
                                <div>
                                    <i class="fa fa-euro"></i>
                                    <i>Sur devis</i>
                                </div>
                                <div>
                                    <i class="fa fa-calendar"></i>
                                    {{ formation.duration }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="text-center py-3">
                                <a class="btn btn-yellow"
                                   href="{{ path('app_formation_show', {formationId: formation.id}) }}">
                                    Voir plus
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}