{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Constructeur, formateur et distributeur de piscines écologiques sur la Côte d'Azur{% endblock %}

{% block description %}
    Découvrez les piscines en résine selon le concept distribué par LAGOON&reg; Piscines...
    LAGOON&reg; Piscines est un organisme de formation autour de l'eco-construction, l'aménagement
    paysager et la topographie de ces bassins.
{% endblock description %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
        {% for message in app.flashes('success') %}
            <div class="alert bg-white alert-success-form alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('professional') %}
            <div class="alert bg-white alert-success-form alert-dismissible fade show" role="alert">
                <h4>
                    {{ message }}
                </h4>
                <p>
                    Aidez nous à étudier vos droits à la formation avec le formulaire suivant :
                    <div class="text-center">
                        <a class="btn btn-yellow"
                           href="https://docs.google.com/forms/d/e/1FAIpQLSf5tLSEunkSD4zM7YQqvlRcGDoTGCrS1tzJ5P8ScOd0ujcexg/viewform?usp=sf_link">
                            Remplir le formulaire
                        </a>
                    </div>
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('individual') %}
            <div class="alert bg-white alert-success-form alert-dismissible fade show" role="alert">
                <h4>
                    {{ message }}
                </h4>
                <p>
                    Aidez nous à étudier vos droits à la formation avec le formulaire suivant :
                <div class="text-center">
                    <a class="btn btn-yellow"
                       href="https://docs.google.com/forms/d/e/1FAIpQLSffEMS2_oTKVxhUCVjOg1z7-So3G7GH8DyA58za_dvECZPrgA/viewform?usp=sf_link">
                        Remplir le formulaire
                    </a>
                </div>
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row">
            <div id="carouselHomeAction" class="carousel slide g-0" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselHomeAction" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselHomeAction" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row vh-100 bg-pool-home d-flex align-items-end align-items-sm-center justify-content-center pb-5">
                            <div class="size-1 text-white inter-black text-center">
                                <h1 class="underlined">
                                    Réalisez le Lagon de vos rêves
                                </h1>
                                <div>
                                    <a class="btn btn-yellow rounded-corners" href="{{ path('app_project_ask') }}">
                                        Composer mon Lagon
                                    </a>
                                    <a class="btn btn-outline-light rounded-corners" href="{{ path('app_concept') }}">
                                        Plus d'infos
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row vh-100 bg-build-home d-flex align-items-end align-items-sm-center justify-content-center pb-5">
                            <div class="size-1 text-white inter-black text-center">
                                <h1 class="underlined">
                                    Devenez Lagoniste
                                </h1>
                                <div>
                                    <a class="btn btn-yellow rounded-corners" href="{{ path('app_formation_ask', {formationId: 1}) }}">
                                        Demander une formation
                                    </a>
                                    <a class="btn btn-outline-light rounded-corners" href="{{ path('app_project_ask') }}">
                                        Plus d'infos
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselHomeAction" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselHomeAction" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="container d-flex justify-content-around align-items-center pt-4">
            <div class="p-4">
                <a href="https://www.propiscines.fr/" target="_blank">
                    <picture>
                        <source srcset="{{ asset('build/images/logo_fpp2.webp') }}" type="image/webp" width=75 height=84>
                        <source srcset="{{ asset('build/images/logo_fpp2.png') }}" type="image/png" width=75 height=84>
                        <img src="{{ asset('build/images/logo_fpp2.png') }}" alt="logo fpp" width=75 height=84>
                    </picture>
                </a>
            </div>
            <div class="p-4">
                <a href="https://www.guide-piscine.fr/" target="_blank">
                    <picture>
                        <source srcset="{{ asset('build/images/logo_gp2.webp') }}" type="image/webp" width=160 height=72>
                        <source srcset="{{ asset('build/images/logo_gp2.png') }}" type="image/png" width=160 height=72>
                        <img src="{{ asset('build/images/logo_gp2.png') }}" alt="logo guide piscine" width=160 height=72>
                    </picture>
                </a>
            </div>
            <div class="p-4">
                <a href="https://maisonetjardinmagazine.fr/" target="_blank">
                    <picture>
                        <source srcset="{{ asset('build/images/logo_mj2.webp') }}" type="image/webp" width=150 height=69>
                        <source srcset="{{ asset('build/images/logo_mj2.png') }}" type="image/png" width=150 height=69>
                        <img src="{{ asset('build/images/logo_mj2.png') }}" alt="logo maison et jardin" width=150 height=69>
                    </picture>
                </a>
            </div>
            <div class="p-4">
                <a href="https://www.linkedin.com/posts/lagoon-piscines_reportage-bfm-tv-activity-6934763358906691584-lTIK?utm_source=linkedin_share&utm_medium=member_desktop_web"
                    target="_blank">
                    <picture>
                        <source srcset="{{ asset('build/images/logo_bfm.webp') }}" type="image/webp" width=84 height=84>
                        <source srcset="{{ asset('build/images/logo_bfm.png') }}" type="image/png" width=84 height=84>
                        <img src="{{ asset('build/images/logo_bfm.png') }}" alt="logo bfmtv" width=112 height=112>
                    </picture>
                </a>
            </div>
        </div>

        <div class="w-75 mx-auto">
            <hr>
        </div>

        <div class="row section">
            <h2 class="text-center inter-black size-2 pb-4">
                Clients satisfaits
            </h2>

            <div id="carouselClients" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item text-center" data-bs-interval="5000">
                        <picture>
                            <source srcset="{{ asset('build/images/cedric.webp') }}" type="image/webp" class="rounded-circle" height="70" width="70">
                            <source srcset="{{ asset('build/images/cedric.jpg') }}" type="image/jpeg" class="rounded-circle" height="70" width="70">
                            <img src="{{ asset('build/images/cedric.jpg') }}" alt="Photo du stagiaire cédric" class="rounded-circle" height="70" width="70">
                        </picture>
                        <p class="w-75 mx-auto">
                            <em>
                                Le métier de Lagoniste est un métier d'avenir, complètement novateur avec toutes les
                                nouvelles technologies qu'on ignore complètement. Des matériaux naturels dont on ne
                                s'attend pas forcément à en faire une piscine.
                            </em>
                        </p>
                        <strong>
                            Cédric<br></strong>
                        Vaucluse
                    </div>

                    <div class="carousel-item active text-center" data-bs-interval="5000">
                        <picture>
                            <source srcset="{{ asset('build/images/carolina.webp') }}" type="image/webp" class="rounded-circle" height="70" width="70">
                            <source srcset="{{ asset('build/images/carolina.jpg') }}" type="image/jpeg" class="rounded-circle" height="70" width="70">
                            <img src="{{ asset('build/images/carolina.jpg') }}" alt="Photo de la cliente carolina" class="rounded-circle" height="70" width="70">
                        </picture>
                        <p class="w-75 mx-auto">
                            <em>L'équipe piscine LAGOON&reg; est au top !</em>
                        </p>
                        <strong>Carolina<br></strong>
                        Alpes Maritimes
                    </div>

                    <div class="carousel-item text-center">
                        <picture>
                            <source srcset="{{ asset('build/images/steve.webp') }}" type="image/webp" class="rounded-circle" height="70" width="70">
                            <source srcset="{{ asset('build/images/steve.png') }}" type="image/png" class="rounded-circle" height="70" width="70">
                            <img src="{{ asset('build/images/steve.png') }}" alt="Photo du stagiaire de formation Steve" class="rounded-circle" height="70" width="70">
                        </picture>
                        <p class="w-75 mx-auto">
                            <em>Je suis très très heureux d'avoir suivi cette formation et je ne m'attendais pas à ce
                                potentiel à tous les niveaux : potentiel humain, potentiel économique, potentiel de
                                réalisation… Ce spectre d'activités qu'il y a derrière. Les formateurs sont dans le sourire,
                                très ouverts… Les échanges étaient très riches.</em>
                        </p>
                        <strong>
                            Steve<br></strong>
                        Var
                    </div>

                    <div class="carousel-item text-center" data-bs-interval="5000">
                        <picture>
                            <source srcset="{{ asset('build/images/john.webp') }}" type="image/webp" class="rounded-circle" height="70" width="70">
                            <source srcset="{{ asset('build/images/john.png') }}" type="image/png" class="rounded-circle" height="70" width="70">
                            <img src="{{ asset('build/images/john.png') }}" alt="Photo du client john" class="rounded-circle" height="70" width="70">
                        </picture>
                        <p class="w-75 mx-auto">
                            <em>
                                Je suis vraiment satisfait par la technologie LAGOON&reg; qui permet
                                de combiner esthétique et sécurité pour les enfants
                            </em>
                        </p>
                        <strong>
                            John<br></strong>
                        Alpes Maritimes
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselClients" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselClients" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="row section big-spacing bg-yellow">
            <p class="size-3 pb-5">
                Et si vous nous décriviez
                <span class="underline-blue inter-black">
                    la piscine dont vous avez toujours rêvé
                </span>
                ?
            </p>

            <div class="m-2 text-center">
                <a type="button"
                   class="btn btn-dark btn-lg rounded-corners"
                   href="{{ path('app_project_ask') }}">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Demander un devis
                </a>
            </div>
        </div>
{% endblock %}
