{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Constructeur de piscines écologiques basé sur la Côte d'Azur{% endblock %}

{% block description %}
    Découvrez les piscines écologiques LAGOON®, sans béton, entièrement personnalisables et respectueuses de l'environnement.
    Un concept breveté unique, pour des piscines en résine qui respectent vos valeurs.
{% endblock description %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <div id="corps" class="">
        {% for message in app.flashes('success') %}
            <div class="alert bg-white alert-success-form alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row vh-100 bg-pool-home d-flex align-items-end align-items-sm-center justify-content-center pb-5">
            <div class="size-1 text-white inter-black">
                <h1 class="underlined">
                    La piscine écologique qui vous ressemble
                </h1>
                <div>
                    <a class="btn btn-yellow rounded-corners" href="{{ path('app_project') }}#devis">
                        <i class="fa fa-arrow-right"></i>
                        &nbsp;Demander un devis
                    </a>
                </div>
            </div>
        </div>

        <div class="bg-dark row py-3 text-light">
            <div class="flex align-items-center p-3 left-a">
                <div class="text-center">
                    <picture>
                        <source srcset="{{ asset('build/images/piscine_montagne.webp') }}" type="image/webp" class="w-100 h-auto">
                        <source srcset="{{ asset('build/images/piscine_montagne.jpg') }}" type="image/jpeg" class="w-100 h-auto">
                        <img src="{{ asset('build/images/piscine_montagne.jpg') }}"
                             alt="Vue d'ensemble d'une bio piscine LAGOON au milieu de la verdure, d'une maison et de la montagne"
                             class="w-100 h-auto">
                    </picture>
                </div>
                <div class="m-5">
                    <h2 class="inter-black size-3">Des piscines éco-responsables</h2>
                    <p>
                        Sans béton, sans plastique, ni ferrailles, la
                        réalisation de la structure des piscines LAGOON® ne nécessite pas de grands travaux de maçonnerie.
                        L'ensemble des matériaux utilisés sont respectueux de l’environnement.
                    </p>
                    <div class="text-center">
                        <a class="btn btn-outline-light rounded-corners" href="{{ path('app_concept') }}">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            &nbsp;Découvrir le procédé de construction de nos piscines
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex align-items-center p-3 right-a">
                <div class="text-center">
                    <picture>
                        <source srcset="{{ asset('build/images/zanzibar.webp') }}" type="image/webp" class="w-100 h-auto">
                        <source srcset="{{ asset('build/images/zanzibar.jpg') }}" type="image/jpeg" class="w-100 h-auto">
                        <img src="{{ asset('build/images/zanzibar.jpg') }}" alt="conception d'un plan de piscine" class="w-100 h-auto">
                    </picture>
                </div>
                <div class="mt-5 mx-5">
                    <h2 class="inter-black size-3">Des bassins avec une forme personnalisable</h2>
                    <p>
                        La gamme des produits des piscines écologiques LAGOON® permet un nombre infini de formes de
                        piscines qui réalise chacune de vos envies et s’adapte parfaitement aux contraintes de votre terrain.
                    </p>
                </div>
            </div>

            <div class="flex align-items-center p-3 left-a">
                <div class="text-center">
                    <picture>
                        <source srcset="{{ asset('build/images/accompagnement.webp') }}" type="image/webp" class="w-100 h-auto">
                        <source srcset="{{ asset('build/images/accompagnement.jpg') }}" type="image/jpeg" class="w-100 h-auto">
                        <img src="{{ asset('build/images/accompagnement.jpg') }}" alt="Un couple explique son projet de construction de piscine à un homme" class="w-100 h-auto">
                    </picture>
                </div>
                <div class="m-5">
                    <h3 class="inter-black size-3">Un accompagnement pour votre projet de piscine</h3>
                    <p>
                        Nos équipes sont à votre écoute et vous accompagnent pas à pas dans la conception et la réalisation
                        de votre piscine écologique LAGOON®, ainsi que dans les démarches administratives associées à
                        votre projet de A à Z.
                    </p>
                </div>
            </div>
        </div>

        <div class="row section bg-yellow">
            <div class="col-12 col-lg-6 col-xl-7 px-0 px-sm-5 py-4 py-lg-none order-1 order-md-2">
                <div class="row align-items-center justify-content-center">
                    <div id="carouselProjects" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carouselProjects"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 1">
                            </button>
                            <button type="button"
                                    data-bs-target="#carouselProjects"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button"
                                    data-bs-target="#carouselProjects"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <picture>
                                    <source srcset="{{ asset('build/images/lagoon-1.webp') }}" type="image/webp" class="w-100">
                                    <source srcset="{{ asset('build/images/lagoon-1.jpg') }}" type="image/jpeg" class="w-100">
                                    <img src="{{ asset('build/images/lagoon-1.jpg') }}"
                                         alt="Une piscine lagoon et son eau bleue"
                                         class="w-100">
                                </picture>
                            </div>
                            <div class="carousel-item">
                                <picture>
                                    <source srcset="{{ asset('build/images/projet2.webp') }}" type="image/webp" class="w-100">
                                    <source srcset="{{ asset('build/images/projet2.jpg') }}" type="image/jpeg" class="w-100">
                                    <img src="{{ asset('build/images/projet2.jpg') }}"
                                         alt="Un lagoon et la montagne derrière"
                                         class="w-100">
                                </picture>
                            </div>
                            <div class="carousel-item">
                                <picture>
                                    <source srcset="{{ asset('build/images/projet3.webp') }}" type="image/webp" class="w-100">
                                    <source srcset="{{ asset('build/images/projet3.jpg') }}" type="image/jpeg" class="w-100">
                                    <img src="{{ asset('build/images/projet3.jpg') }}"
                                         alt="Un bassin lagoon de rêve avec un fond bleu"
                                         class="w-100">
                                </picture>
                            </div>
                        </div>
                        <button class="carousel-control-prev"
                                type="button"
                                data-bs-target="#carouselProjects"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next"
                                type="button"
                                data-bs-target="#carouselProjects"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-5 px-5 order-2 order-lg-1 align-self-center">
                <div class="ps-none ps-lg-5">
                    <h2 class="inter-black size-3">Nos plus belles réalisations de piscines naturelles</h2>
                    <p>
                        Entre rénovations, construction de piscines souterraines, ajout de rochers, de bains relaxants
                        ou d'une cascade… Découvrez toutes les possibilités qu'offre la technologie des piscines
                        écologiques LAGOON&reg;.
                    </p>
                    <div class="text-center">
                        <a class="btn btn-blue rounded-corners"
                           href="{{ path('app_gallery') }}">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            &nbsp;Voir plus
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <h2 class="text-center inter-black size-2 py-4">Clients satisfaits</h2>

            <div id="carouselClients" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active text-center" data-bs-interval="5000">
                        <picture>
                            <source srcset="{{ asset('build/images/carolina.webp') }}" type="image/webp" class="rounded-circle" height="70" width="70">
                            <source srcset="{{ asset('build/images/carolina.jpg') }}" type="image/jpeg" class="rounded-circle" height="70" width="70">
                            <img src="{{ asset('build/images/carolina.jpg') }}" alt="Photo de la cliente carolina" class="rounded-circle" height="70" width="70">
                        </picture>
                        <p class="w-75 mx-auto">
                            <em>L'équipe piscine LAGOON&reg; est au top !</em>
                        </p>
                        <strong>Carolina<br></strong>
                        Alpes Maritimes
                    </div>

                    <div class="carousel-item text-center" data-bs-interval="5000">
                        <picture>
                            <source srcset="{{ asset('build/images/john.webp') }}" type="image/webp" class="rounded-circle" height="70" width="70">
                            <source srcset="{{ asset('build/images/john.jpg') }}" type="image/jpeg" class="rounded-circle" height="70" width="70">
                            <img src="{{ asset('build/images/john.jpg') }}" alt="Photo du client john" class="rounded-circle" height="70" width="70">
                        </picture>
                        <p class="w-75 mx-auto">
                            <em>
                                Je suis vraiment satisfait par la technologie LAGOON&reg; qui permet
                                de combiner esthétique et sécurité pour les enfants
                            </em>
                        </p>
                        <strong>
                            John<br></strong>
                        Alpes Maritimes
                    </div>

                    <div class="carousel-item text-center">
                        <picture>
                            <source srcset="{{ asset('build/images/lisa.webp') }}" type="image/webp" class="rounded-circle" height="70" width="70">
                            <source srcset="{{ asset('build/images/lisa.jpg') }}" type="image/jpeg" class="rounded-circle" height="70" width="70">
                            <img src="{{ asset('build/images/lisa.jpg') }}" alt="Photo de la cliente Lisa" class="rounded-circle" height="70" width="70">
                        </picture>
                        <p class="w-75 mx-auto">
                            <em>Mon spa est vraiment une réussite. Le spa ajoute de la valeur à ma
                                propriété.</em>
                        </p>
                        <strong>Lisa</strong>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselClients" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselClients" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="row section bg-blue">
                <div class="col-12 col-md-5 col-lg-6">
                    <h2 class="inter-black size-2">LAGOON&reg; Piscines dans la presse</h2>
                </div>

                <div class="col-12 col-md-7 col-lg-6">
                    <div class="row lead fs-5 pt-4 align-items-center">
                        <div class="col-6 text-center py-4">
                            <picture>
                                <source srcset="{{ asset('build/images/logo_mj2.webp') }}" type="image/webp" width=100 height=46>
                                <source srcset="{{ asset('build/images/logo_mj2.png') }}" type="image/png" width=100 height=46>
                                <img src="{{ asset('build/images/logo_mj2.png') }}" alt="logo maison et jardin" width=100 height=46>
                            </picture>
                        </div>
                        <div class="col-6 text-center py-4">
                            <picture>
                                <source srcset="{{ asset('build/images/logo_gp2.webp') }}" type="image/webp" width=150 height=22>
                                <source srcset="{{ asset('build/images/logo_gp2.png') }}" type="image/png" width=150 height=22>
                                <img src="{{ asset('build/images/logo_gp2.png') }}" alt="logo guide piscine" width=150 height=22>
                            </picture>
                        </div>

                        <div class="col-6 text-center py-4">
                            <picture>
                                <source srcset="{{ asset('build/images/logo_golf2.webp') }}" type="image/webp" width=100 height=75>
                                <source srcset="{{ asset('build/images/logo_golf2.png') }}" type="image/png" width=100 height=75>
                                <img src="{{ asset('build/images/logo_golf2.png') }}" alt="logo golf de biot" width=100 height=75>
                            </picture>
                            <br>Golf de Biot
                        </div>
                        <div class="col-6 text-center py-4">
                            <picture>
                                <source srcset="{{ asset('build/images/logo_fpp2.webp') }}" type="image/webp" width=100 height=112>
                                <source srcset="{{ asset('build/images/logo_fpp2.png') }}" type="image/png" width=100 height=112>
                                <img src="{{ asset('build/images/logo_fpp2.png') }}" alt="logo fpp" width=100 height=112>
                            </picture>
                        </div>

                        <div class="col-12 text-center py-4">
                            <a href="https://www.linkedin.com/posts/lagoon-piscines_reportage-bfm-tv-activity-6934763358906691584-lTIK?utm_source=linkedin_share&utm_medium=member_desktop_web">
                                <picture>
                                    <source srcset="{{ asset('build/images/logo_bfm.webp') }}" type="image/webp" width=100 height=112>
                                    <source srcset="{{ asset('build/images/logo_bfm.png') }}" type="image/png" width=100 height=112>
                                    <img src="{{ asset('build/images/logo_bfm.png') }}" alt="logo fpp" width=112 height=112>
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
        </div>

        <div class="row section big-spacing bg-yellow">
            <p class="size-3 pb-5">
                Et si vous nous décriviez <span class="underline-blue inter-black">la piscine dont vous avez toujours rêvé</span> ?
            </p>

            <div class="m-2 text-center">
                <a type="button"
                   class="btn btn-dark btn-lg rounded-corners"
                   href="{{ path('app_project') }}">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Demander un devis
                </a>
            </div>
        </div>
    </div>
{% endblock %}
