{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Constructeur de piscines naturelles et écologiques basé sur la Côte d'Azur{% endblock %}
{% block description %}Les piscines LAGOON®, piscines durables du 21ème Siècle, sont entièrement personnalisables.
Composez et imaginez dès maintenant le LAGOON® de vos rêves !{% endblock description %}

{% block body %}
    <div id="corps" class="container-fluid">
        {% for message in app.flashes('success') %}
            <div class="alert bg-white alert-success-form alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row">
            <div class="card border-0">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_rampe.webp') }}"
                            type="image/webp"
                    >
                    <source srcset="{{ asset('build/images/piscine_rampe.jpg') }}"
                            type="image/jpeg"
                    >
                    <img
                            src="{{ asset('build/images/piscine_rampe.jpg') }}"
                            class="img-fluid img-home"
                            alt="Une piscine lagoon en résine naturelle EPDM avec plage"
                    >
                </picture>
                <div class="card-img-overlay bg-lightdark text-white text-center d-flex justify-content-around flex-column">
                    <h1 class="text-roboto-bold">La piscine de vos rêves</h1>
                    <div class="text-center">
                        <a class="btn button-primary" href="#">
                            DEMANDEZ VOTRE DEVIS
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-12 col-sm-4 p-3">
                <div class="text-center">
                    <picture>
                        <source srcset="{{ asset('build/images/famille_piscine.webp') }}"
                                type="image/webp">
                        <source srcset="{{ asset('build/images/famille_piscine.jpg') }}"
                                type="image/jpeg">
                        <img src="{{ asset('build/images/famille_piscine.jpg') }}"
                             alt="un enfant dans une bouée dans une piscine et sa famille derrière"
                             class="w-100 img-card-col">
                    </picture>
                </div>
                <div class="m-5">
                    <h4 class="text-roboto-bold">Sécurité</h4>
                    <p>
                        Son design unique en pentes douces permet à vous et votre famille de profiter
                        des plaisirs de la nage en toute sécurité.
                    </p>
                </div>
            </div>

            <div class="col-12 col-sm-4 p-3">
                <div class="text-center">
                    <picture>
                        <source srcset="{{ asset('build/images/ecologique.webp') }}"
                                type="image/webp">
                        <source srcset="{{ asset('build/images/ecologique.jpg') }}"
                                type="image/jpeg">
                        <img src="{{ asset('build/images/ecologique.jpg') }}"
                             alt="une jeune pousse dans un tronc"
                             class="w-100 img-card-col">
                    </picture>
                </div>
                <div class="mt-5 mx-5">
                    <h4 class="text-roboto-bold">Naturelle et Ecologique</h4>
                    <p>
                        Sans béton, sans plastique, la réalisation de la structure des piscines
                        LAGOON&reg; ne nécessite pas de travaux de maçonnerie mais utilise des
                        matériaux respectueux de l’environnement.
                    </p>
                </div>
            </div>

            <div class="col-12 col-sm-4 p-3">
                <div class="text-center">
                    <picture>
                        <source srcset="{{ asset('build/images/conception.webp') }}"
                                type="image/webp">
                        <source srcset="{{ asset('build/images/conception.jpg') }}"
                                type="image/jpeg">
                        <img src="{{ asset('build/images/conception.jpg') }}"
                             alt="dessin d'un plan de piscine"
                             class="w-100 img-card-col">
                    </picture>
                </div>
                <div class="m-5">
                    <h4 class="text-roboto-bold">Sur mesure</h4>
                    <p>
                        La gamme de produit LAGOON&reg; permet un nombre infini de formes de piscines
                        qui réalise chacune de vos envies et s’adapte parfaitement aux contraintes
                        de votre terrain.
                    </p>
                </div>
            </div>
        </div>

        <div class="row section text-center g-0">
            <h2 class="mb-2 text-roboto-bold">Nos réalisations</h2>
            <div class="col-12 col-sm-5 my-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_plage_fond.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_plage_fond.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_plage_fond.jpg') }}"
                         alt="Piscine LAGOON entourée de plage, rochers, et verdure"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-7 my-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_vue_haute.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_vue_haute.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_vue_haute.jpg') }}"
                         alt="Vue entière d'une piscine LAGOON de haut"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-8 my-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_fond_bleu.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_fond_bleu.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_fond_bleu.jpg') }}"
                         alt="Vue de près du fond bleu d'une piscine LAGOON"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-4 my-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_fontaine.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_fontaine.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_fontaine.jpg') }}"
                         alt="Piscine LAGOON avec fontaine et bains relaxants"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-4 my-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_marbre_vert.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_marbre_vert.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_marbre_vert.jpg') }}"
                         alt="Bassin LAGOON à la rencontre du marbre vert et de l'eau"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-8 my-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_entière_vue_bord.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_entière_vue_bord.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_entière_vue_bord.jpg') }}"
                         alt="Piscine LAGOON entière dans un jardin"
                         class="img-gallery">
                </picture>
            </div>
        </div>

        <div class="row section">
            <h2 class="text-center text-roboto-bold py-4">Clients satisfaits</h2>
            <div class="col-12 col-sm-6 col-md-4 text-center">
                <picture>
                    <source srcset="{{ asset('build/images/carolina.webp') }}"
                            type="image/webp"
                            class="rounded-circle"
                            height="70"
                            width="70">
                    <source srcset="{{ asset('build/images/carolina.jpg') }}"
                            type="image/jpeg"
                            class="rounded-circle"
                            height="70"
                            width="70">
                    <img src="{{ asset('build/images/carolina.jpg') }}"
                         alt="Photo de la cliente carolina"
                         class="rounded-circle"
                         height="70"
                         width="70">
                </picture>
                <p class="w-75 mx-auto">
                    <em>L'équipe piscine LAGOON&reg; est au top !</em>
                </p>
                <strong>Carolina<br></strong>
                Alpes Maritimes
            </div>
            <div class="col-12 col-sm-6 col-md-4 text-center">
                <picture>
                    <source srcset="{{ asset('build/images/john.webp') }}"
                            type="image/webp"
                            class="rounded-circle"
                            height="70"
                            width="70">
                    <source srcset="{{ asset('build/images/john.jpg') }}"
                            type="image/jpeg"
                            class="rounded-circle"
                            height="70"
                            width="70">
                    <img src="{{ asset('build/images/john.jpg') }}"
                         alt="Photo du client john"
                         class="rounded-circle"
                         height="70"
                         width="70">
                </picture>
                <p class="w-75 mx-auto">
                    <em>
                        Je suis vraiment satisfait par la technologie LAGOON&reg; qui permet
                        de combiner esthétique et sécurité pour les enfants
                    </em>
                </p>
                <strong>
                    John<br></strong>
                Alpes Maritimes
            </div>
            <div class="col-12 col-sm-6 col-md-4 text-center">
                <picture>
                    <source srcset="{{ asset('build/images/lisa.webp') }}"
                            type="image/webp"
                            class="rounded-circle"
                            height="70"
                            width="70">
                    <source srcset="{{ asset('build/images/lisa.jpg') }}"
                            type="image/jpeg"
                            class="rounded-circle"
                            height="70"
                            width="70">
                    <img src="{{ asset('build/images/lisa.jpg') }}"
                         alt="Photo de la cliente Lisa"
                         class="rounded-circle"
                         height="70"
                         width="70">
                </picture>
                <p class="w-75 mx-auto">
                    <em>Mon spa est vraiment une réussite. Le spa ajoute de la valeur à ma
                        propriété.</em>
                </p>
                <strong>Lisa</strong>
            </div>
        </div>

        <div class="row section">
            <div class="col-12 col-md-5 col-lg-6">
                <h2 class="text-roboto-bold">Ils parlent de nous</h2>
            </div>

            <div class="col-12 col-md-7 col-lg-6">
                <div class="row lead fs-5 pt-4 align-items-center">
                    <div class="col-6 text-center py-4">
                        <picture>
                            <source srcset="{{ asset('build/images/logo_maison_jardin.webp') }}" type="image/webp" width=100 height=46>
                            <source srcset="{{ asset('build/images/logo_maison_jardin.png') }}" type="image/png" width=100 height=46>
                            <img src="{{ asset('build/images/logo_maison_jardin.png') }}" alt="logo maison et jardin" width=100 height=46>
                        </picture>
                    </div>
                    <div class="col-6 text-center py-4">
                        <picture>
                            <source srcset="{{ asset('build/images/logo_guide_piscine.webp') }}" type="image/webp" width=150 height=22>
                            <source srcset="{{ asset('build/images/logo_guide_piscine.png') }}" type="image/png" width=150 height=22>
                            <img src="{{ asset('build/images/logo_guide_piscine.png') }}" alt="logo guide piscine" width=150 height=22>
                        </picture>
                    </div>

                    <div class="col-6 text-center py-4">
                        <picture>
                            <source srcset="{{ asset('build/images/logo_golf_biot.webp') }}" type="image/webp" width=100 height=75>
                            <source srcset="{{ asset('build/images/logo_golf_biot.png') }}" type="image/png" width=100 height=75>
                            <img src="{{ asset('build/images/logo_golf_biot.png') }}" alt="logo golf de biot" width=100 height=75>
                        </picture>
                        <br>Golf de Biot
                    </div>
                    <div class="col-6 text-center py-4">
                        <picture>
                            <source srcset="{{ asset('build/images/logo_fpp.webp') }}" type="image/webp" width=100 height=112>
                            <source srcset="{{ asset('build/images/logo_fpp.png') }}" type="image/png" width=100 height=112>
                            <img src="{{ asset('build/images/logo_fpp.png') }}" alt="logo fpp" width=100 height=112>
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section bg-grey">
            <p class="baskerville size-3 pb-5">
                Un clic et... votre <span class="text-blue">rêve</span> devient réalité !
            </p>

            <div class="m-2 text-center">
                <a
                        type="button"
                        class="btn btn-yellow spoke"
                        href="#"
                >
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Je réalise mon rêve
                </a>
            </div>
        </div>
    </div>
{% endblock %}
