{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Demande de devis pour votre projet de piscine écologique{% endblock %}

{% block description %}
    Des rochers, une cascade, ou des bains relaxants ?
    Faites une demande de devis en nous décrivant le LAGOON® de vos rêves.
{% endblock description %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('project') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('project') }}
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5">
        <div class="row py-5 px-none px-md-4 px-lg-5">
            <div class="text-title">
                <h1 class="inter-black size-1">Demande de devis de piscine écologique</h1>
                <p class="w-75">
                    Découvrez les étapes menant à la construction de votre piscine naturelle LAGOON&reg;
                    et commmencez à composer le LAGOON&reg; de vos rêves...
                </p>
                <a class="btn btn-yellow btn-lg rounded-corners" href="#devis">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    &nbsp;Faire une demande de devis
                </a>
            </div>
        </div>

        <div class="row section bg-dark text-light">
            <h2 class="text-center baskerville size-2 pb-5">La réalisation de votre projet étape par étape</h2>

            <ul class="timeline pb-5">
                <li class="timeline-item d-flex align-items-center">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-5 text-center">
                            <picture>
                                <source srcset="{{ asset('build/images/devis.webp') }}" type="image/webp" class="m-3 m-sm-5 w-75">
                                <source srcset="{{ asset('build/images/devis.jpg') }}" type="image/jpeg" class="m-3 m-sm-5 w-75">
                                <img src="{{ asset('build/images/devis.jpg') }}" alt="Un couple devant un ordinateur composant sa demande de devis" class="m-3 m-sm-5 w-75">
                            </picture>
                        </div>
                        <div class="col-12 col-sm-1 size-big baskerville text-center">1</div>
                        <div class="col-12 col-sm-6 p-none p-sm-2 text-center text-sm-start">
                            <h3 class="inter-black">Faites une demande de devis en ligne </h3>
                            <p>
                                Choisissez parmi les modèles de piscines pré-dessinées ou le sur-mesure. A
                                réception de votre demande, nos équipes vous contacteront pour affiner votre projet.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="timeline-item d-flex align-items-center">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-5 text-center">
                            <picture>
                                <source srcset="{{ asset('build/images/sur_mesure2.webp') }}" type="image/webp" class="m-3 m-sm-5 w-75">
                                <source srcset="{{ asset('build/images/sur_mesure2.jpg') }}" type="image/jpeg" class="m-3 m-sm-5 w-75">
                                <img src="{{ asset('build/images/sur_mesure2.jpg') }}" alt="Dessin du plan sur mesure d'une piscine écologique LAGOON sur une table" class="m-3 m-sm-5 w-75">
                            </picture>
                        </div>
                        <div class="col-12 col-sm-1 size-big baskerville text-center">2</div>
                        <div class="col-12 col-sm-6 py-none py-sm-2 px-3 text-center text-sm-start">
                            <h3 class="inter-black">Design de votre projet </h3>
                            <p>
                                <em>Dans le cadre du sur mesure</em><br>
                                Nous effectuons le design de votre projet par notre équipe
                                de designers, concepteurs et paysagistes.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="timeline-item d-flex align-items-center">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-5 text-center">
                            <picture>
                                <source srcset="{{ asset('build/images/assistance.webp') }}" type="image/webp" class="m-3 m-sm-5 w-75">
                                <source srcset="{{ asset('build/images/assistance.jpg') }}" type="image/jpeg" class="m-3 m-sm-5 w-75">
                                <img src="{{ asset('build/images/assistance.jpg') }}" alt="Une femme assiste et explique à un couple les démarches nécessaires" class="m-3 m-sm-5 w-75">
                            </picture>
                        </div>
                        <div class="col-12 col-sm-1 size-big baskerville text-center">3</div>
                        <div class="col-12 col-sm-6 py-none py-sm-2 px-3 text-center text-sm-start">
                            <h3 class="inter-black">Assistance à la déclaration en mairie</h3>
                            <p>
                                Dès la signature du devis, LAGOON&reg; peut vous assister pour la constitution
                                du dossier de déclaration préalable à déposer en mairie.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="timeline-item d-flex align-items-center">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-5 text-center">
                            <picture>
                                <source srcset="{{ asset('build/images/hommes_travaillent.webp') }}" type="image/webp" class="m-3 m-sm-5 w-75">
                                <source srcset="{{ asset('build/images/hommes_travaillent.jpg') }}" type="image/jpeg" class="m-3 m-sm-5 w-75">
                                <img src="{{ asset('build/images/hommes_travaillent.jpg') }}" alt="Trois hommes travaillent sur l'application de la résine sur un bassin naturel LAGOON" class="m-3 m-sm-5 w-75">
                            </picture>
                        </div>
                        <div class="col-12 col-sm-1 size-big baskerville text-center">4</div>
                        <div class="col-12 col-sm-6 py-none py-sm-2 px-3 text-center text-sm-start">
                            <h3 class="inter-black">Le chantier commence</h3>
                            <p>
                                Environ un mois après le dépôt en mairie
                                et une fois le dossier validé par les autorités locales, votre chantier commence.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="row align-items-center py-5">
                <div class="col-12 col-sm-6 size-2 pb-5 inter-black">
                    Et voilà ! Dans quelques jours, vous plongerez dans
                    <span class="underlined text-yellow">votre LAGOON&reg; !</span>
                </div>
                <div class="col-12 col-sm-6 text-center">
                    <picture>
                        <source srcset="{{ asset('build/images/plonger.webp') }}" type="image/webp" class="w-100">
                        <source srcset="{{ asset('build/images/plonger.jpg') }}" type="image/jpeg" class="w-100">
                        <img src="{{ asset('build/images/plonger.jpg') }}" alt="Une petite fille joyeuse s'élance dans une piscine" class="w-100">
                    </picture>
                </div>
            </div>
        </div>


        <div class="row section big-spacing" id="devis">
            <h2 class="text-center baskerville size-2 py-3">Faire une demande de devis en ligne</h2>

            <p class="m-3">
                <em>Demander un devis LAGOON&reg; est le premier pas pour obtenir votre LAGOON&reg;,
                    votre propre coin de paradis...</em>
            </p>

            {{ form_start(form) }}
                <div id="infos-perso" class="py-5 px-0 px-sm-5 my-3 bg-yellow rounded-corners">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="inter-black size-3">Informations personnelles</h3>
                        <div>
                            <i class="fa fa-user form-icon"></i>
                        </div>
                    </div>

                    <div class="px-3 pb-3">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                {{ form_row(form.firstName) }}
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                {{ form_row(form.lastName) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-7 col-lg-4">
                                {{ form_row(form.email) }}
                            </div>

                            <div class="col-12 col-md-5 col-lg-3">
                                {{ form_row(form.phone) }}
                            </div>
                        </div>
                    </div>
                </div>


                <div id="lieu" class="px-4 pb-4 my-3 bg-blue rounded-corners">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="inter-black size-3">Lieu de construction</h3>
                        <div>
                            <i class="fa fa-map-marker form-icon"></i>
                        </div>
                    </div>

                    <div class="px-3 pb-3">
                        <div class="row">
                            <div class="col-12 col-md-11">
                                {{ form_row(form.address) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-2">
                                {{ form_row(form.postalCode) }}
                            </div>

                            <div class="col-12 col-md-5 col-lg-3">
                                {{ form_row(form.city) }}
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                {{ form_row(form.department) }}
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                {{ form_row(form.country) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="piscine" class="px-4 pb-4 my-3 bg-yellow rounded-corners">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="inter-black size-3">Votre LAGOON&reg;</h3>
                        <div>
                            <i class="fa fa-umbrella-beach form-icon"></i>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="row" id="m2-nombre">
                            <label>
                                {{ form_label(form.waterSurface) }}
                                <span class="tool"
                                      data-tip="La profondeur de votre piscine sera fonction des dimensions de celle-ci et des parois en pente douce de 45°. La profondeur maximale sera entre 1m20 et 1m75."
                                      tabindex="1">
                                    <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                </span>
                            </label>
                            <div class="buttons-group">
                                {% for child in form.waterSurface.children %}
                                    <div class="">
                                        <div class="">
                                            {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                            <label class="form-check-label required" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <label>{{ form_label(form.shape) }}</label>
                                <div class="buttons-group">
                                    {% for child in form.shape.children %}
                                        <div class="">
                                            <div class="">
                                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                <label class="form-check-label required" for="{{ child.vars.id }}" >
                                                    {{ child.vars.label }}
                                                    {% if child.vars.label == "Modèle pré-dessiné" %}
                                                        <span class="tool"
                                                              data-tip="Possibilité de personnalisation dans les limites de la taille du modèle. Schémas de principe. Formes non contractuelles."
                                                              tabindex="1">
                                                            <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                                        </span>
                                                    {% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div id="choose_forme" style="display:none;">
                            <div>
                                <label>{{ form_label(form.poolModel) }}</label>
                                <div class="buttons-group">
                                    {% for child in form.poolModel.children %}
                                        <div class="">
                                            <div class="">
                                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                <label class="form-check-label required d-flex flex-column p-4" for="{{ child.vars.id }}" >
                                                    <div class="card bg-inherit d-flex flex-row align-items-start justify-content-start">
                                                        <img class="card-img"
                                                             src="{{ asset('build/images/'~child.vars.label|lower~'.png') }}"
                                                             height="100"
                                                             id="{{ 'img_'~child.vars.label }}">
                                                        <div class="card-img-overlay p-1 d-flex align-items-start justify-content-end">
                                                            <button type="button"
                                                                    class="btn-zoom"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#myModal"
                                                                    id="{{ child.vars.label }}"
                                                                    name="shapeButton"
                                                                    value="{{ asset('build/images/'~child.vars.label~'.png') }}">
                                                                <i class="fas fa-search-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        {{ child.vars.label }}
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <label>{{ form_label(form.poolColor) }}</label>
                                <div class="buttons-group">
                                    {% for child in form.poolColor.children %}
                                        <div class="">
                                            <div class="">
                                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                <label class="form-check-label required d-flex flex-column p-4" for="{{ child.vars.id }}" >
                                                    {% if child.vars.label != 'Je ne sais pas encore' %}
                                                        <div class="card bg-inherit d-flex flex-row align-items-start justify-content-start">
                                                            <img class="card-img"
                                                                src="{{ asset('build/images/'~child.vars.label~'.png') }}"
                                                                 height="100"
                                                                id="{{ 'img_'~child.vars.label }}">
                                                            <div class="card-img-overlay d-flex align-items-center justify-content-center">
                                                                <button type="button"
                                                                        class="btn-zoom"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#myModal"
                                                                        id="{{ child.vars.label }}"
                                                                        name="colorButton"
                                                                        value="{{ asset('build/images/'~child.vars.label~'.png') }}">
                                                                    <i class="fas fa-search-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <div>
                                                        {{ child.vars.label }}
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <label>{{ form_label(form.beach) }}</label>
                                <div class="buttons-group">
                                    {% for child in form.beach.children %}
                                        <div class="">
                                            <div class="">
                                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                <label class="form-check-label required" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div id="choose_plage" class="p-3 mt-4 bg-yellow" style="display:none;">
                            <h4 class="text-center">PLAGE</h4>
                            <div class="row">
                                <div>
                                    <label>{{ form_label(form.beachSize) }}</label>
                                    <div class="buttons-group">
                                        {% for child in form.beachSize.children %}
                                            <div class="">
                                                <div class="">
                                                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                    <label class="form-check-label required" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div>
                                    <label>{{ form_label(form.beachColor) }}</label>
                                    <div class="buttons-group">
                                        {% for child in form.beachColor.children %}
                                            <div class="">
                                                <div class="">
                                                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                    <label class="form-check-label required d-flex flex-column p-4" for="{{ child.vars.id }}" >
                                                        {% if child.vars.label != 'Je ne sais pas encore' %}
                                                            <div class="card bg-inherit d-flex flex-row align-items-start justify-content-start">
                                                                <img class="card-img"
                                                                     src="{{ asset('build/images/'~child.vars.label~'.png') }}"
                                                                     height="100"
                                                                     id="{{ 'img_'~child.vars.label }}">
                                                                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                                                                    <button type="button"
                                                                            class="btn-zoom"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#myModal"
                                                                            id="{{ child.vars.label }}"
                                                                            name="colorButton"
                                                                            value="{{ asset('build/images/'~child.vars.label~'.png') }}">
                                                                        <i class="fas fa-search-plus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                        <div>
                                                            {{ child.vars.label }}
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div>
                                <label>{{ form_label(form.filtrationType) }}</label>
                                <div class="buttons-group">
                                    {% for child in form.filtrationType.children %}
                                        <div class="">
                                            <div class="">
                                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                <label class="form-check-label required" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <label>{{ form_label(form.heatPump) }}</label>
                                <div class="buttons-group">
                                    {% for child in form.heatPump.children %}
                                        <div class="">
                                            <div class="">
                                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                                <label class="form-check-label required" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-7 col-sm-12 col-xs-12">
                                <label>{{ form_label(form.buildingStarts) }}</label>
                                <br>
                                {{ form_widget(form.buildingStarts) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-7 col-sm-12 col-xs-12">
                                {{ form_row(form.budget) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ form_row(form.notes) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-check small px-5">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            name="consentement[]"
                            id="consentement_donnees"
                            value="consentement_donnees"
                            onclick="able_submit(['consentement_donnees'])"
                    >
                    En soumettant ce formulaire, j’accepte que mes informations soient utilisées
                    exclusivement dans le cadre de ma demande et de la relation commerciale éthique et
                    personnalisée qui pourrait en découler si je le souhaite et je reconnais avoir pris
                    connaissance de la politique de traitement et d'utilisation des données relative à la RGPD
                    disponible en
                    <a
                            href="{{ path('app_doc_rgpd') }}"
                            target=_blank
                    >
                        cliquant ici
                    </a>.
                </div>

                <div class="text-center">
                    <input
                            type="submit"
                            class="btn btn-blue btn-lg mt-3"
                            id="valider"
                            value="Valider"
                            disabled
                    />
                </div>
            {{ form_end(form) }}
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-transparent border-0">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="text-white bg-transparent border-0 fs-2" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div id="content"></div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
