{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - A Propos de Nous{% endblock %}

{% block description %}
    Apprenez à mieux connaître l'équipe LAGOON&reg;, notre centre de formation et notre histoire.
    Contactez nous par téléphone, email ou adresse.
{% endblock description %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('aboutUs') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('aboutUs') }}
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 pt-lg-5">
        <div class="row py-5 px-none px-md-4 px-lg-5">
            <h1 class="inter-black size-1">Qui sommes nous ?</h1>
            <div>
                <p>
                    Apprenez un peu plus à nous connaître en découvrant notre histoire et notre équipe. <br>
                    Vous souhaitez prendre contact avec nous ? N'hésitez plus, cliquez sur le bouton ci-dessous.
                </p>
                <a class="btn btn-yellow btn-lg rounded-corners" href="#contact">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    &nbsp;Nous contacter
                </a>
            </div>
        </div>


        <div class="row section bg-blue-clear">
            <h2 class="text-center inter-black size-2">L'histoire de LAGOON&reg; Piscines</h2>
            <div class="row my-4">
                <div class="col-12 col-md-8">
                    <p>
                        Tout commence en 2019, lorsque les trois associés de la LAGOON&reg; Distribution Corporation
                        décident d’unir leurs compétences pour répondre aux besoins de la nouvelle génération de propriétaires
                        de maisons et jardins. Ils créent en 2020 la LAGOON&reg; DISTRIBUTION CORPORATION S.A.S.
                    </p>

                    <p>
                        Dans un objectif de partage du savoir-faire innovant qu’est la création de bassin naturel en
                        sable de quartz et marbre, et pour répondre aux besoins du marché, le <a href="{{ path('app_formation') }}" class="text-darkblue">centre de formation
                        professionnelle LAGOON&reg;</a> voit le jour.
                    </p>

                    <p>
                        Aujourd’hui, LAGOON&reg; DISTRIBUTION CORPORATION est adhérente à la
                        <a href="https://www.propiscines.fr/" class="text-darkblue">FPP</a>. Expert
                        dans la construction et le Développement Durable, nous nous engageons aux plus
                        hautes normes de qualité. LAGOON&reg; est une marque déposée.
                    </p>
                </div>

                <div class="col-12 col-md-4">
                    <img src="{{ asset('build/images/histoire.jpg') }}" alt="Une cascade au bord d'un bassin Lagoon" style="width:100%">
                </div>
            </div>
        </div>

        <div class="row section bg-contact" id="contact">
            <h2 class="text-center inter-black size-2" style="height:100px;">Nous contacter</h2>

            <div style="height:100px;">
                <div class="fs-3 inter-black">
                    Votre demande concerne...
                </div>
                <select class="form-select mb-3" id="subject-of-ask" aria-label=".form-select-lg example">
                    <option selected>Choisir...</option>
                    <option value="build">La construction de Lagons</option>
                    <option value="formation">Les formations proposées par LAGOON&reg;</option>
                </select>
            </div>

            <div id="placeholder-contact" style="height:200px;"></div>

            <div id="build-contact" style="display: none">
                <div class="d-flex align-items-center m-4">
                    <i class="fa fa-map-marker text-blue mx-none mx-sm-4 size-2" aria-hidden="true"></i>
                    <p class="ms-4 fw-bold">
                        <a href="https://g.page/Nomad-Coworking?share"
                           target="_blank"
                           class="dark-link">
                            427 Chemin de Vosgelade Le Mas Raoum, 06140 VENCE
                        </a>
                    </p>
                </div>

                <div class="d-flex align-items-center m-4">
                    <i class="fa fa-phone text-blue mx-none mx-sm-4 size-2" aria-hidden="true"></i>
                    <p class="ms-4 fw-bold">
                        <a href="tel:0953837665" title="Cliquez pour nous appeler" class="dark-link">
                            +33 9 53 83 76 65
                        </a>
                    </p>
                </div>

                <div class="d-flex align-items-center m-4">
                    <i class="fa fa-envelope-o text-blue mx-none mx-sm-4 size-2" aria-hidden="true"></i>
                    <p class="ms-4 fw-bold">
                        <a
                                href="mailto:contact@lagoon-piscines.com"
                                title="Cliquez pour nous envoyer un email"
                                class="dark-link"
                        >
                            contact@lagoon-piscines.com
                        </a>
                    </p>
                </div>
            </div>

            <div id="formation-contact" style="display: none">
                <div class="d-flex align-items-center m-4">
                    <i class="fa fa-map-marker text-blue mx-none mx-sm-4 size-2" aria-hidden="true"></i>
                    <p class="ms-4 fw-bold">
                        <a href="https://g.page/Nomad-Coworking?share"
                           target="_blank"
                           class="dark-link">
                            427 Chemin de Vosgelade Le Mas Raoum, 06140 VENCE
                        </a>
                    </p>
                </div>

                <div class="d-flex align-items-center m-4">
                    <i class="fa fa-phone text-blue mx-none mx-sm-4 size-2" aria-hidden="true"></i>
                    <p class="ms-4 fw-bold">
                        <a href="tel:0645771184" title="Cliquez pour nous appeler" class="dark-link">
                            +33 6 45 77 11 84
                        </a>
                    </p>
                </div>

                <div class="d-flex align-items-center m-4">
                    <i class="fa fa-envelope-o text-blue mx-none mx-sm-4 size-2" aria-hidden="true"></i>
                    <p class="ms-4 fw-bold">
                        <a
                                href="mailto:lagoonformations@gmail.com"
                                title="Cliquez pour nous envoyer un email"
                                class="dark-link"
                        >
                            lagoonformations@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}