{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Foire aux questions{% endblock %}

{% block description %}
    Obtenez les réponses aux questions fréquemment posées sur LAGOON&reg; Piscines. Nos services, nos formations, nos constructions de piscines expliqués.
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 pt-lg-5">
        <div class="row py-5 px-none px-md-4 px-lg-5">
            <h1 class="inter-black size-1">Foire Aux Questions</h1>
            <div>
                <p>
                    Obtenez les réponses aux questions fréquemment posées sur LAGOON&reg; Piscines. Nos services, nos
                    formations, nos constructions de piscines expliqués.
                </p>
            </div>

            <div class="pt-5 accordion accordion-flush" id="questionsList">
                {% for faq in faqs %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="{{ "item"~faq.id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="{{ "#collapse"~faq.id }}" aria-expanded="false" aria-controls="{{ "collapse"~faq.id }}">
                                {{ faq.question }}
                            </button>
                        </h2>
                        <div id="{{ "collapse"~faq.id }}" class="accordion-collapse collapse" aria-labelledby="{{ "item"~faq.id }}" data-bs-parent="#questionsList">
                            <div class="accordion-body">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}