{% extends 'base.html.twig' %}

{% block title %}
    LAGOON&reg; Piscines - Pré-inscription à la formation en ligne
{% endblock %}

{% block description %}
    Augmentez en compétences ou faites une reconversion professionnelle en vous inscrivant à notre formation certifiée Qualiopi. Vous apprendrez les techniques et matériaux d'éco-construction de piscines.
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formationAsk') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formationAsk') }}
{% endblock %}

{% block body %}
    <main id="corps" class="my-5 container bg-dark pt-lg-5">
        {{ form_start(form) }}

        {% if not form.vars.valid %}
            <div class="form-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="row pt-5">
            <div class="col-12 col-md-4 pb-4
                {% if flow.getCurrentStepNumber() != 1 %}
                    d-none d-md-block
                {% endif %}">
                {% include 'formation/ask/steps/intro.html.twig' %}
            </div>
            <div class="col-12 col-md-8 bg-white rounded-corners text-dark p-5 d-flex flex-column">
                {% include 'formation/ask/steps/reusables/list.html.twig' %}
                <div class="text-grey size-little fw-bold">
                    ETAPE {{ flow.currentStep }}/{{ flow.stepCount }}
                </div>

                {% if flow.getCurrentStepNumber() == 1 %}
                    {% include 'formation/ask/steps/step1.html.twig' %}

                {% elseif flow.getCurrentStepNumber() == 2 %}
                    {% include 'formation/ask/steps/step2.html.twig' %}

                {% elseif flow.getCurrentStepNumber() == 3 %}
                    {% include 'formation/ask/steps/step3.html.twig' %}
                {% endif %}
            </div>
        </div>

        {{ form_end(form) }}
    </main>
{% endblock %}