<div class="modal fade"
    id="documentation"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title   size-3" id="exampleModalLabel">En savoir plus</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-5 d-flex">
                    <div class="mx-5">
                        <i class="fa fa-info size-1" aria-hidden="true"></i>
                    </div>

                    <div>
                        <h4 class=" ">Informations générales : </h4>
                        <div class="d-flex flex-column flex-sm-row align-items-center">
                            <div>
                                <a class="btn btn-outline-dark rounded-corners"
                                   href="{{ path('app_doc_quality') }}"
                                   target="_blank">
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    &nbsp;Charte de qualité
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark rounded-corners"
                                   href="{{ path('app_doc_livret') }}"
                                   target="_blank">
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    &nbsp;Livret d'accueil du stagiaire
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-5 d-flex">
                    <div>
                        <h4>
                            Le programme de la formation proposée :
                        </h4>

                        <div class="d-flex flex-column flex-sm-row align-items-center">
                            <div>
                                <a class="btn btn-outline-dark rounded-corners"
                                   href="{{ path('app_doc_program', {formationId: formation.id}) }}"
                                   target="_blank">
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    {{ formation.libelle }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="mx-5 my-auto">
                        <i class="fa fa-graduation-cap size-1" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="my-5 d-flex">
                    <div class="mx-5">
                        <i class="fa fa-file-text-o size-1" aria-hidden="true"></i>
                    </div>

                    <div>
                        <h4 class=" ">Règlements : </h4>
                        <a href="{{ path('app_doc_rgpd') }}" target=_blank>Règlement RGPD</a><br>
                        <a href="{{ path('app_doc_cgv') }}" target=_blank>
                            Conditions générales de ventes
                        </a>
                        <br>
                        <a href="{{ path('app_doc_reglement') }}" target=blank>
                            Règlement intérieur LAGOON&reg;
                        </a>
                    </div>
                </div>
            </div>

            <p class="text-center">
                N'hésitez pas à <a href="{{ path('app_about_us') }}">nous contacter</a> pour toute
                information supplémentaire.
            </p>
        </div>
    </div>
</div>