{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Formation {{ formation.libelle }}{% endblock %}

{% block description %}
    {{ formation.presentation }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formation') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formation') }}
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 pt-lg-5">
        <div class="row py-5 px-3 px-md-4 px-lg-5">
            <div>
                <div class="text-uppercase fw-light">Formation</div>
                <h1 class="inter-black size-1">
                    {{ formation.libelle }}
                </h1>
                <p class="w-75">
                    {{ formation.presentation }}
                </p>
                <a class="btn btn-blue btn-lg rounded-corners"
                   href="{{ path('app_formation_ask', {formationId: formation.id}) }}">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Faire une demande de formation
                </a>
            </div>
        </div>

        <div class="row bg-dark text-white px-3 pt-5 p-md-0">
            <div class="col-12 col-lg-7 p-2 p-md-5 d-flex flex-column justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="fs-1 pe-3">
                        <i class="fas fa-crosshairs"></i>
                    </div>
                    <h2 class="inter-black">Objectifs de la formation</h2>
                </div>
                <div class="ps-5">
                    A l'issue de la formation, les stagiaires seront capables :
                    <ul>
                        {% for goal in formation.formationGoals %}
                            <li>{{ goal.goal }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row align-items-center">
                    <div class="text-center">
                        <a class="btn btn-blue rounded-corners"
                           href="{{ path('app_doc_program', {formationId: formation.id}) }}"
                           target="_blank">
                            <i class="fa fa-eye"></i>
                            &nbsp;Programme de la formation
                        </a>
                    </div>
                </div>
                <div class="row bg-dark py-5 justify-content-around">
                    {% for image in formation.formationImages %}
                        <div class="col-12 col-sm-6">
                            <div class="pb-2">
                                <img src="{{ asset('uploads/images/formations/' ~ image.imageName) }}"
                                     alt="Image descriptive de la formation {{ formation.libelle }}"
                                     class="w-100 img-gallery">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-5 p-2 p-md-5">
                <div class="bg-yellow text-dark rounded-corners p-3 py-5 p-sm-5 fw-bold">
                    <table>
                        <tr>
                            <td>
                                <i class="fa fa-map-marker"></i>
                            </td>
                            <td>
                                &nbsp;{{ formation.place }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-euro"></i>
                            </td>
                            <td>
                                &nbsp;{{ formation.cost }}&nbsp;€
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top">
                                <i class="fa fa-calendar"></i>
                            </td>
                            <td>
                                &nbsp;{{ formation.duration }}
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="formation_id" value="{{ formation.id }}"/>
                    {% if formation.formationSessions.isEmpty == false %}
                        <hr>
                        <div class="bg-white">
                            {% include 'formation/show/reusables/calendar.html.twig' %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row section big-spacing bg-blue">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-2 pb-2 text-center">
                    <i class="fa fa-university size-big" aria-hidden="true"></i>
                </div>
                <div class="col-12 col-sm-10 ps-none ps-sm-5">
                    <h2 class="baskerville size-2">
                        Notre formation peut être financée en tout ou partie par l’état
                    </h2>
                    <p>
                        N'hésitez pas à contacter votre organisme collecteur qui vous aidera pour son
                        financement (<a href="https://www.fifpl.fr/" target="_blank" class="text-darkblue">
                            FIFPL</a>, <a href="https://www.ocapiat.fr/" target="_blank" class="text-darkblue">
                            OCAPIAT</a>, <a href="https://www.fafcea.com/" target="_blank" class="text-darkblue">
                            FAFCEA</a>, <a href="https://communication-agefice.fr/" target="_blank" class="text-darkblue">
                            AGEFICE</a>, <a href="https://vivea.fr/" target="_blank" class="text-darkblue">Vivea</a>, <a href="https://www.pole-emploi.fr/accueil/" target="_blank" class="text-darkblue">Pôle Emploi</a>...).
                    </p>
                    <div class="w-adaptative mx-auto bg-blue d-flex flex-column">
                        <div class="d-flex align-items-center justify-content-around">
                            <picture>
                                <source srcset="{{ asset('build/images/datadock.webp') }}" type="image/webp" class="img-size">
                                <source srcset="{{ asset('build/images/datadock.png') }}" type="image/png" class="img-size">
                                <img src="{{ asset('build/images/datadock.png') }}" alt="Logo du datadock de la formation de piscine écologique LAGOON" class="img-size">
                            </picture>
                            <div class="d-flex">
                                <picture>
                                    <source srcset="{{ asset('build/images/qualiopi.webp') }}" type="image/webp" class="img-size">
                                    <source srcset="{{ asset('build/images/qualiopi.png') }}" type="image/png" class="img-size">
                                    <img src="{{ asset('build/images/qualiopi.png') }}" alt="Logo du qualiopi de la formation LAGOON" class="img-size">
                                </picture>
                                <a
                                        href="https://certificats-attestations.afnor.org/certification=128289183752"
                                        target="_blank"
                                >
                                    <picture>
                                        <source srcset="{{ asset('build/images/qr-certif.webp') }}" type="image/webp" class="img-size">
                                        <source srcset="{{ asset('build/images/qr-certif.png') }}" type="image/png" class="img-size">
                                        <img src="{{ asset('build/images/qr-certif.png') }}" alt="QR code prouvant la validité du certificat afnor de la formation proposée par LAGOON" class="img-size">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-around pt-3">
                            <a
                                    href="https://candidat.pole-emploi.fr/formations/detail/4158608/true"
                                    target="_blank"
                            >
                                <picture>
                                    <source srcset="{{ asset('build/images/logo_pole_emploi.webp') }}" type="image/webp" class="img-size">
                                    <source srcset="{{ asset('build/images/logo_pole_emploi.png') }}" type="image/png" class="img-size">
                                    <img src="{{ asset('build/images/logo_pole_emploi.png') }}"
                                         alt="Logo pole emploi indiquant que la formation est finançable par pole emploi"
                                         class="img-size bg-white">
                                </picture>
                            </a>
                            <picture>
                                <source srcset="{{ asset('build/images/logo_vivea.webp') }}" type="image/webp" class="img-size">
                                <source srcset="{{ asset('build/images/logo_vivea.png') }}" type="image/png" class="img-size">
                                <img src="{{ asset('build/images/logo_vivea.png') }}"
                                     alt="Logo vivea indiquant que la formation est finançable par vivea"
                                     class="img-size">
                            </picture>
                            <picture>
                                <source srcset="{{ asset('build/images/ocapiat_logo.webp') }}" type="image/webp" class="img-size">
                                <source srcset="{{ asset('build/images/ocapiat_logo.png') }}" type="image/png" class="img-size">
                                <img src="{{ asset('build/images/ocapiat_logo.png') }}"
                                     alt="Logo ocapiat indiquant que la formation est finançable par ocapiat"
                                     class="img-size bg-white">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if formation.satisfactionRate is not empty or formation.companyApprovalRate is not empty or formation.individualSuccessRate is not empty %}
            <div class="row section big-spacing bg-light">
                <div class="row justify-content-around">
                    <h2 class="text-center baskerville size-2 mb-5">Nos partenaires sont satisfaits de notre formation</h2>

                    {% if formation.companyApprovalRate is not empty %}
                        <div class="col-12 col-sm-4 text-center">
                            <div class="inter-black size-1">
                                {{ formation.companyApprovalRate }}%
                            </div>
                            Taux d'agrément entreprise
                        </div>
                    {% endif %}

                    {% if formation.individualSuccessRate is not empty %}
                        <div class="col-12 col-sm-4 text-center">
                            <div class="inter-black size-1">
                                {{ formation.individualSuccessRate }}%
                            </div>
                            Taux de réussite individuelle
                        </div>
                    {% endif %}

                    {% if formation.satisfactionRate is not empty %}
                        <div class="col-12 col-sm-4 text-center">
                            <div class="inter-black size-1">
                                {{ formation.satisfactionRate }}%
                            </div>
                            Taux de satisfaction
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if formation.id == 1 %}
            <div class="row section bg-dark">
                <h2 class="text-center inter-black text-light">
                    Des commentaires de stagiaires
                </h2>

                <div class="row mt-5 mx-auto">
                    <div class="col-12 col-md-6">
                        <div class="h-auto position-relative">
                            <picture>
                                <source srcset="{{ asset('build/images/thumbnail_video_learners_oct2022.webp') }}"
                                        type="image/webp">
                                <source srcset="{{ asset('build/images/thumbnail_video_learners_oct2022.png') }}"
                                        type="image/png">
                                <img src="{{ asset('build/images/thumbnail_video_learners_oct2022.png') }}"
                                     alt="vidéo interview de stagiaires de la formation paysagistes et géomètres"
                                     class="w-100 rounded-corners border-blue"
                                     id="thumbnail-video">
                            </picture>
                            <div class="play-button">
                                <a class="text-white"
                                   href="https://www.linkedin.com/posts/lagoon-piscines_lagooniste-formationprofessionnelle-coworking-activity-6996511167850393600-847Z?utm_source=share&utm_medium=member_desktop"
                                   target="_blank">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 overflow-auto overflow-md-scroll px-4" id="comments">
                        <div class="bg-grey text-center rounded-corners p-4">
                            <div class="pb-4">
                                {% include 'formation/show/reusables/star_rating.html.twig' with {'rating': 4.5} %}
                            </div>
                            <p class="inter-light">
                                "Mon équipe et moi même avons suivi cette formation en Septembre 2022. Nous avons
                                découvert un métier avec des produits innovants et naturels qui vont nous permettre
                                de développer notre activé au sein de notre entreprise. Merci à toute l'équipe LAGOON."
                            </p>

                            <div class="w-75 mx-auto">
                                <strong>Frédéric<br></strong>
                                Hauts-De-France
                            </div>
                        </div>

                        <div class="bg-grey text-center mt-4 rounded-corners p-4">
                            <div class="pb-4">
                                {% include 'formation/show/reusables/star_rating.html.twig' with {'rating': 5} %}
                            </div>
                            <p class="inter-light">
                                "Je suis très très heureux d'avoir suivi cette formation et je ne m'attendais pas à
                                ce potentiel à tous les niveaux : potentiel humain, potentiel économique, potentiel
                                de réalisation… Les formateurs sont dans le sourire, très ouverts… Les échanges
                                étaient très riches."
                            </p>
                            <div class="w-75 mx-auto">
                                <strong>Steve<br></strong>
                                Var
                            </div>
                        </div>

                        <div class="bg-grey text-center mt-4 rounded-corners p-4">
                            <div class="pb-4">
                                {% include 'formation/show/reusables/star_rating.html.twig' with {'rating': 5} %}
                            </div>
                            <p class="inter-light">
                                "Un grand merci à toute l'équipe ! J'ai kiffé grave."
                            </p>

                            <div class="w-75 mx-auto">
                                <strong>Lancelot<br></strong>
                                Alsace
                            </div>
                        </div>

                        <div class="bg-grey text-center mt-4 rounded-corners p-4">
                            <div class="pb-4">
                                {% include 'formation/show/reusables/star_rating.html.twig' with {'rating': 4.5} %}
                            </div>
                            <p class="inter-light">
                                "Le métier de Lagoniste est un métier d'avenir, complètement novateur avec toutes les
                                nouvelles technologies qu'on ignore complètement. Ca ouvre aussi des perspectives en
                                terme de paysagisme, c'est-à-dire qu'on peut intégrer des rochers, des palmiers, des
                                monolithes… Et c'est le top."
                            </p>

                            <div class="w-75 mx-auto">
                                <strong>Cédric<br></strong>
                                Vaucluse
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row section big-spacing row justify-content-around align-items-center">
            <div class="col-12 col-sm-4">
                <picture>
                    <source srcset="{{ asset('build/images/demarrer_metier.webp') }}" type="image/webp" class="w-100">
                    <source srcset="{{ asset('build/images/demarrer_metier.jpg') }}" type="image/jpeg" class="w-100">
                    <img src="{{ asset('build/images/demarrer_metier.jpg') }}" alt="Trois installateurs de piscine écologique souriant démarrant leur équipe et ayant été formées par LAGOON" class="w-100">
                </picture>
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="inter-black size-2">
                    Prêts à démarrer votre <span class="underline-blue">nouveau métier</span> ?
                </h2>
                <div class="pt-5 d-flex justify-content-end">
                    <div>
                        <a type="button"
                           class="btn btn-yellow btn-lg rounded-corners"
                           href="{{ path('app_formation_ask', {formationId: formation.id}) }}">
                            <i class="fa fa-play" aria-hidden="true"></i>
                            &nbsp;Faites une demande de formation en ligne
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section d-flex justify-content-around align-items-center bg-yellow">
            <div class="col-12 col-sm-8 order-2 order-sm-1 pt-4">
                <h3 class="inter-black size-3">
                    Envie d'en savoir plus ?
                </h3>
                <p>
                    Parcourez notre charte de qualité, les conditions de la formation, ou encore le
                    programme de la formation proposée.
                </p>
                <div>
                    <button
                            type="button"
                            class="btn btn-dark btn-lg rounded-corners"
                            data-bs-toggle="modal"
                            data-bs-target="#documentation"
                            style="background-color:#212529; color:white"
                    >
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        &nbsp;Voir la documentation
                    </button>
                </div>
            </div>
            <div class="col-12 col-sm-4 order-1 order-sm-2 text-center">
                <i class="fas fa-file-alt size-big"></i>
            </div>
        </div>
    </div>
    {% include 'formation/show/documentation.html.twig' %}

{% endblock %}
