{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Formation Réalisation de Piscine et Bassin écologique de type Lagon{% endblock %}

{% block description %}
    Devenez installateur de piscines écologiques LAGOON® en résine et EPDM au cours d'une formation certifiée
    Qualiopi dans les Alpes Maritimes. Cette formation est financée par Pole Emploi.
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formation') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formation') }}
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5">
        <div class="row py-5 px-none px-md-4 px-lg-5">
            <div class="text-title">
                <h1 class="inter-black size-1">
                    Formation réalisation de piscine et bassin écologique de type Lagon
                </h1>
                <div class="w-75">
                    <p>
                        Vous êtes paysagiste, applicateur indépendant, maçon, chef de chantiers, chef d'entreprise,
                        carreleur ou encore pisciniste ?
                        Vous souhaitez augmenter en compétences ou effectuer une reconversion professionnelle ?
                    </p>
                    <p>
                        Grace à notre formation professionnelle certifiée Qualiopi, devenez installateur LAGOON&reg; et
                        entrez dans un marché en pleine expansion !
                    </p>
                </div>
                <a class="btn btn-blue btn-lg rounded-corners"
                   href="{{ path('app_ask') }}">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Faire une demande de formation
                </a>
            </div>
        </div>

        <div class="row bg-dark text-white">
            <div class="col-12 col-md-8 p-2 p-md-5">
                <div class="d-flex align-items-center">
                    <div class="fs-1 pe-3">
                        <i class="fas fa-crosshairs"></i>
                    </div>
                    <h2 class="baskerville">Objectifs de la formation</h2>
                </div>
                <div class="ps-5">
                    Dans les conditions réelles d’un
                    chantier, vous apprendrez aux côtés de formateurs expérimentés :
                    <ul>
                        <li>Contrôle du terrassement</li>
                        <li>Etanchéité de bassin</li>
                        <li>Aménagement paysager</li>
                        <li>Hydraulique de bassin</li>
                        <li>Application de résine décorative</li>
                        <li>
                            Maitrise des outils professionnels pour obtenir un résultat
                            de qualité
                        </li>
                        <li>
                            Les gestes et postures de sécurité pour des réalisations en
                            toute sécurité
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 p-2 p-md-5">
                <div class="bg-yellow text-dark rounded-corners p-5 fw-bold">
                    <table>
                        <tr>
                            <td>
                                <i class="fas fa-clock"></i>
                            </td>
                            <td>
                                &nbsp;4 jours max.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fas fa-users"></i>
                            </td>
                            <td>
                                &nbsp;< 8 personnes
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top">
                                <i class="fas fa-map"></i>
                            </td>
                            <td>
                                &nbsp;Au centre de formation LAGOON&reg; à
                                <span class="fst-italic"> Vence, 06</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row bg-dark py-5">
            <div class="col-12 col-sm-5">
                <picture>
                    <source srcset="{{ asset('build/images/form-1.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/form-1.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/form-1.jpg') }}"
                         alt="Un homme apprenant à appliquer de l'enduit ou de la résine sur les bords d'un bassin LAGOON"
                         class="h-100 img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-3">
                <picture>
                    <source srcset="{{ asset('build/images/form-2.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/form-2.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/form-2.jpg') }}" alt="Un stagiaire avec une maquette de piscine LAGOON et une taloche" class="h-100 img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-4">
                <picture>
                    <source srcset="{{ asset('build/images/form-4.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/form-4.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/form-4.jpg') }}" alt="Plusieurs stagiaires autour d'une table écoutant un formateur LAGOON" class="h-100 img-gallery">
                </picture>
            </div>
        </div>

        <div class="row section big-spacing bg-blue">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-2 pb-2 text-center">
                    <i class="fa fa-university size-big" aria-hidden="true"></i>
                </div>
                <div class="col-12 col-sm-10 ps-none ps-sm-5">
                    <h2 class="baskerville size-2">
                        Notre formation peut être financée en tout ou partie par l’état
                    </h2>
                    <p>
                        N'hésitez pas à contacter votre organisme collecteur qui vous aidera pour son
                        financement (<a href="https://www.fifpl.fr/" target="_blank" class="text-darkblue">
                            FIFPL</a>, <a href="https://www.ocapiat.fr/" target="_blank" class="text-darkblue">
                            OCAPIAT</a>, <a href="https://www.fafcea.com/" target="_blank" class="text-darkblue">
                            FAFCEA</a>, <a href="https://communication-agefice.fr/" target="_blank" class="text-darkblue">
                            AGEFICE</a>, <a href="https://vivea.fr/" target="_blank" class="text-darkblue">Vivea</a>, <a href="https://www.pole-emploi.fr/accueil/" target="_blank" class="text-darkblue">Pôle Emploi</a>...).
                    </p>
                    <div class="w-adaptative mx-auto bg-blue d-flex flex-column">
                        <div class="d-flex align-items-center justify-content-around">
                            <picture>
                                <source srcset="{{ asset('build/images/datadock.webp') }}" type="image/webp" class="img-size">
                                <source srcset="{{ asset('build/images/datadock.png') }}" type="image/png" class="img-size">
                                <img src="{{ asset('build/images/datadock.png') }}" alt="Logo du datadock de la formation de piscine écologique LAGOON" class="img-size">
                            </picture>
                            <div class="d-flex">
                                <picture>
                                    <source srcset="{{ asset('build/images/qualiopi.webp') }}" type="image/webp" class="img-size">
                                    <source srcset="{{ asset('build/images/qualiopi.png') }}" type="image/png" class="img-size">
                                    <img src="{{ asset('build/images/qualiopi.png') }}" alt="Logo du qualiopi de la formation LAGOON" class="img-size">
                                </picture>
                                <a
                                        href="https://certificats-attestations.afnor.org/certification=128289183752"
                                        target="_blank"
                                >
                                    <picture>
                                        <source srcset="{{ asset('build/images/qr-certif.webp') }}" type="image/webp" class="img-size">
                                        <source srcset="{{ asset('build/images/qr-certif.png') }}" type="image/png" class="img-size">
                                        <img src="{{ asset('build/images/qr-certif.png') }}" alt="QR code prouvant la validité du certificat afnor de la formation proposée par LAGOON" class="img-size">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-around pt-3">
                            <a
                                    href="https://candidat.pole-emploi.fr/formations/detail/4158608/true"
                                    target="_blank"
                            >
                                <picture>
                                    <source srcset="{{ asset('build/images/logo_pole_emploi.webp') }}" type="image/webp" class="img-size">
                                    <source srcset="{{ asset('build/images/logo_pole_emploi.png') }}" type="image/png" class="img-size">
                                    <img src="{{ asset('build/images/logo_pole_emploi.png') }}"
                                         alt="Logo pole emploi indiquant que la formation est finançable par pole emploi"
                                         class="img-size bg-white">
                                </picture>
                            </a>
                            <picture>
                                <source srcset="{{ asset('build/images/logo_vivea.webp') }}" type="image/webp" class="img-size">
                                <source srcset="{{ asset('build/images/logo_vivea.png') }}" type="image/png" class="img-size">
                                <img src="{{ asset('build/images/logo_vivea.png') }}"
                                     alt="Logo vivea indiquant que la formation est finançable par vivea"
                                     class="img-size">
                            </picture>
                            <picture>
                                <source srcset="{{ asset('build/images/ocapiat_logo.webp') }}" type="image/webp" class="img-size">
                                <source srcset="{{ asset('build/images/ocapiat_logo.png') }}" type="image/png" class="img-size">
                                <img src="{{ asset('build/images/ocapiat_logo.png') }}"
                                     alt="Logo ocapiat indiquant que la formation est finançable par ocapiat"
                                     class="img-size bg-white">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section big-spacing bg-light">
            <div class="row">
                <h2 class="text-center baskerville size-2 mb-5">Nos partenaires sont satisfaits de notre formation</h2>

                <div class="col-12 col-sm-4 text-center">
                    <div class="inter-black size-1">
                        85%
                    </div>
                    Taux d'agrément entreprise
                </div>

                <div class="col-12 col-sm-4 text-center">
                    <div class="inter-black size-1">
                        100%
                    </div>
                    Taux de réussite individuelle
                </div>

                <div class="col-12 col-sm-4 text-center">
                    <div class="inter-black size-1">
                        95%
                    </div>
                    Taux de satisfaction
                </div>
            </div>
        </div>

        <div class="row section bg-dark text-light">
            <h2 class="text-center baskerville">Des commentaires de stagiaires</h2>

            <div id="carouselClients" class="carousel carousel-light slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active text-center mt-4" data-bs-interval="5000">
                        <p class="w-75 mx-auto">
                            <em>
                                Top ! L'équilibre temps de théorie et de pratique était très bien. De plus,
                                les formateurs savent très bien se mobiliser et s'adapter aux participants.
                            </em>
                        </p>

                        <p class="w-75 mx-auto">
                            <strong>Christophe<br></strong>
                            Paris
                        </p>
                    </div>

                    <div class="carousel-item text-center mt-4" data-bs-interval="5000">
                        <p class="w-75 mx-auto">
                            <em>Merci pour tout, super équipe, formateurs au top !</em>
                        </p>
                        <strong>Florian<br></strong>
                        Alsace
                    </div>

                    <div class="carousel-item text-center mt-4" data-bs-interval="5000">
                        <p class="w-75 mx-auto">
                            <em>
                                Parfaits formateurs ! Les supports pédagogiques sont suffisants et clairs,
                                utilisables et exploitables pour la suite
                            </em>
                        </p>

                        <p class="w-75 mx-auto">
                            <strong>Ludovic<br></strong>
                            Salon de Provence
                        </p>
                    </div>

                    <div class="carousel-item text-center mt-4" data-bs-interval="5000">
                        <p class="w-75 mx-auto">
                            <em>
                                Un grand merci à toute l'équipe ! J'ai kiffé grave.
                            </em>
                        </p>

                        <p class="w-75 mx-auto">
                            <strong>Lancelot<br></strong>
                            Alsace
                        </p>
                    </div>
                </div>

                <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselClients"
                        data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselClients"
                        data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="row section big-spacing row justify-content-around align-items-center">
            <div class="col-12 col-sm-4">
                <picture>
                    <source srcset="{{ asset('build/images/demarrer_metier.webp') }}" type="image/webp" class="w-100">
                    <source srcset="{{ asset('build/images/demarrer_metier.jpg') }}" type="image/jpeg" class="w-100">
                    <img src="{{ asset('build/images/demarrer_metier.jpg') }}" alt="Trois installateurs de piscine écologique souriant démarrant leur équipe et ayant été formées par LAGOON" class="w-100">
                </picture>
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="inter-black size-2">
                    Prêts à démarrer votre <span class="underline-blue">nouveau métier</span> ?
                </h2>
                <div class="pt-5 d-flex justify-content-end">
                    <div>
                        <a type="button"
                           class="btn btn-yellow btn-lg rounded-corners"
                           href="{{ path('app_ask') }}">
                            <i class="fa fa-play" aria-hidden="true"></i>
                            &nbsp;Faites une demande de formation en ligne
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section d-flex justify-content-around align-items-center bg-yellow">
            <div class="col-12 col-sm-8 order-2 order-sm-1 pt-4">
                <h3 class="inter-black size-3">
                    Envie d'en savoir plus ?
                </h3>
                <p>
                    Parcourez notre charte de qualité, les conditions de la formation, ou encore le
                    programme de la formation proposée.
                </p>
                <div>
                    <button
                            type="button"
                            class="btn btn-dark btn-lg rounded-corners"
                            data-bs-toggle="modal"
                            data-bs-target="#documentation"
                            style="background-color:#212529; color:white"
                    >
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        &nbsp;Voir la documentation
                    </button>
                </div>
            </div>
            <div class="col-12 col-sm-4 order-1 order-sm-2 text-center">
                <i class="fas fa-file-alt size-big"></i>
            </div>
        </div>
    </div>
    {% include 'formation/presentation/documentation.html.twig' %}

{% endblock %}
