{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Le concept breveté des piscines LAGOON&reg;{% endblock %}
{% block description %}
    Apprenez en plus sur les techniques de construction de nos piscines. Construites en résine et EPDM, adaptables aux PMR, elles sont respectueuses de votre jardin et de l'écologie.
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 container-fluid">
        <div class="row py-5 px-none px-md-4 px-lg-5 titre-concept">
            <div class="text-title">
                <h1 class="baskerville size-1">LE CONCEPT</h1>
                <p>
                    Découvrez ici le concept LAGOON&reg; et ses avantages par rapport aux piscines
                    traditionnelles. <br>
                    Déjà convaincu ? Vous pouvez dès maintenant cliquer sur le bouton ci-dessous.
                </p>
                <a
                        class="btn btn-blue"
                        href="{{ path('app_project') }}"
                >
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Je réalise mon rêve
                </a>
            </div>
        </div>

        <div class="row bg-blue-clear bg-video px-none">
            <div class="row justify-content-end text-video">
                <div class="col-12 col-md-5 col-lg-6 col-xl-7">
                    <p class="baskerville size-4">
                        0% béton ! 0% ferraille ! 0% plastique = 100% innovation !
                    </p>
                    <p>
                        Découvrez la technologie des piscines LAGOON®...
                    <ul>
                        <li>Recyclable</li>
                        <li>Naturelle</li>
                        <li>Esthétique</li>
                        <li>Personnalisable</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="row bg-dark section text-light">
            <h2 class="text-center baskerville size-2">
                Les avantages du système LAGOON&reg;
            </h2>

            <div class="row py-5 align-items-center">
                <div class="col-12 col-md-6 p-none p-sm-1 p-md-3 bg-shape-blue1">
                    <picture>
                        <source srcset="{{ asset('build/images/unique.webp') }}" type="image/webp" class="w-75">
                        <source srcset="{{ asset('build/images/unique.jpg') }}" type="image/jpeg" class="w-75">
                        <img src="{{ asset('build/images/unique.jpg') }}" alt="Une plage LAGOON unique et son eau claire" class="w-75">
                    </picture>
                </div>

                <div class="col-12 col-md-6">
                    <div class="w-75 mx-auto my-5">
                        <h4 class="baskerville size-3">Unique</h4>
                        <p>
                            LAGOON&reg; détient le <strong>premier système au monde</strong> disposant
                            d’un brevet international qui garantit une distribution de l’eau répartie
                            dans l’ensemble du bassin pour une filtration optimale.

                        <div class="text-center">
                            <a
                                    class="btn btn-outline-light"
                                    href="{{ path('app_gallery') }}"
                            >
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                &nbsp;Voir quelques uns de nos projets
                            </a>
                        </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 align-items-center">
                <div class="col-12 col-md-6 order-md-2 py-4 bg-shape-yellow1">
                    <picture>
                        <source srcset="{{ asset('build/images/pmr.webp') }}" type="image/webp" class="w-75">
                        <source srcset="{{ asset('build/images/pmr.jpg') }}" type="image/jpeg" class="w-75">
                        <img src="{{ asset('build/images/pmr.jpg') }}" alt="Une pente douce d'une piscine LAGOON illustrant l'accès pour PMR" class="w-75">
                    </picture>
                </div>

                <div class="col-12 col-md-6 right order-md-1">
                    <div class="w-75 mx-auto my-5">
                        <h4 class="baskerville size-3">Possibilité d'accès pour PMR</h4>
                        <p>
                            Grace aux pentes douces, l'usage des fauteuils amphibien permet une
                            <strong>mise à l'eau relativement facile</strong> est sans trop d'efforts.
                            Lors du devis, il vous faudra simplement faire une demande pour adapter vos
                            plages aux PMR.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 align-items-center">
                <div class="col-12 col-md-7 py-4 bg-shape-blue2">
                    <picture>
                        <source srcset="{{ asset('build/images/entretien.webp') }}" type="image/webp" class="w-75">
                        <source srcset="{{ asset('build/images/entretien.jpg') }}" type="image/jpeg" class="w-75">
                        <img src="{{ asset('build/images/entretien.jpg') }}" alt="Un bassin LAGOON avec une eau bleutée" class="w-75">
                    </picture>
                </div>

                <div class="col-12 col-md-5">
                    <div class="w-75 mx-auto my-5">
                        <h4 class="baskerville size-3">Entretien facilité</h4>
                        <p>
                            Le système breveté LAGOON&reg; by Sorgiva évite les points de stagnation de
                            l'eau en permettant une parfaite répartition de l'eau dans le bassin. Cela
                            limite l'apparition d'algues et <strong>facilite ainsi
                                son entretien</strong>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 align-items-center">
                <div class="col-12 col-md-7 order-md-2 bg-shape-yellow2">
                    <picture>
                        <source srcset="{{ asset('build/images/ecolo.webp') }}" type="image/webp" class="w-75">
                        <source srcset="{{ asset('build/images/ecolo.jpg') }}" type="image/jpeg" class="w-75">
                        <img src="{{ asset('build/images/ecolo.jpg') }}" alt="Vue d'ensemble d'une piscine LAGOON au milieu de la verdure, d'une maison et de la montagne" class="w-75">
                    </picture>
                </div>

                <div class="col-12 col-md-5 py-4 order-md-1">
                    <div class="w-75 mx-auto my-5">
                        <h4 class="baskerville size-3">Respect de l'environnement</h4>
                        <p>
                            Le procédé de construction des piscines LAGOON&reg; est non invasif (sans béton,
                            feraille...) pour votre jardin et l'ensemble des produits utilisés sont
                            <strong>recyclables</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-blue-clear section">
            <h2 class="text-center pb-4 baskerville size-2">
                La construction d'une piscine étape par étape
            </h2>

            <div class="etapes">
                <picture>
                    <source srcset="{{ asset('build/images/etapes-grand.webp') }}" type="image/webp" media="(min-width: 1200px)" class="w-50">
                    <source srcset="{{ asset('build/images/etapes-grand.jpg') }}" type="image/jpeg" media="(min-width: 1200px)" class="w-50">
                    <source srcset="{{ asset('build/images/etapes-grand.webp') }}" type="image/webp" media="(min-width: 800px)" class="w-75">
                    <source srcset="{{ asset('build/images/etapes-grand.jpg') }}" type="image/jpeg" media="(min-width: 800px)" class="w-75">
                    <source srcset="{{ asset('build/images/etapes-petit.webp') }}" type="image/webp" media="(max-width: 800px)" class="w-100">
                    <img src="{{ asset('build/images/etapes-petit.jpg') }}" class="w-100" alt="Les 4 étapes du concept de construction des piscines Lagoon">
                </picture>
            </div>
        </div>

        <div class="big-spacing">
            <p class="baskerville size-3 pb-5">
                Un clic et... votre <span class="text-yellow">rêve</span> devient réalité !
            </p>

            <div class="m-2 text-center">
                <a
                        type="button"
                        class="btn btn-blue spoke"
                        href="{{ path('app_project') }}"
                >
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Je réalise mon rêve
                </a>
            </div>
        </div>
    </div>
{% endblock %}
