{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Le concept breveté des piscines LAGOON&reg;{% endblock %}
{% block description %}
    Apprenez en plus sur les techniques de construction de nos piscines. Construites en résine et EPDM, adaptables aux PMR, elles sont respectueuses de votre jardin et de l'écologie.
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 container-fluid">
        <div class="row py-5 px-none px-md-4 px-lg-5 titre-concept">
            <div class="text-title">
                <h1 class="baskerville size-1">LE CONCEPT</h1>
                <p>
                    Découvrez ici le concept des piscines naturelles LAGOON&reg; et ses avantages par rapport aux piscines
                    traditionnelles. <br>
                    Déjà convaincu ? Vous pouvez dès maintenant cliquer sur le bouton ci-dessous.
                </p>
                <a
                        class="btn btn-blue"
                        href="{{ path('app_project') }}"
                >
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Je réalise mon rêve
                </a>
            </div>
        </div>

        <div class="row section text-center g-0">
            <h2 class="mb-2 baskerville">Nos réalisations</h2>
            <div class="col-12 col-sm-5 my-2 px-0 px-sm-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_plage_fond.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_plage_fond.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_plage_fond.jpg') }}"
                         alt="Piscine LAGOON entourée de plage, rochers, et verdure"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-7 my-2 px-0 px-sm-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_vue_haute.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_vue_haute.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_vue_haute.jpg') }}"
                         alt="Vue entière d'une piscine LAGOON de haut"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-8 my-2 px-0 px-sm-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_fond_bleu.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_fond_bleu.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_fond_bleu.jpg') }}"
                         alt="Vue de près du fond bleu d'une piscine LAGOON"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-4 my-2 px-0 px-sm-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_fontaine.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_fontaine.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_fontaine.jpg') }}"
                         alt="Piscine LAGOON avec fontaine et bains relaxants"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-4 my-2 px-0 px-sm-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_marbre_vert.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_marbre_vert.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_marbre_vert.jpg') }}"
                         alt="Bassin LAGOON à la rencontre du marbre vert et de l'eau"
                         class="img-gallery">
                </picture>
            </div>
            <div class="col-12 col-sm-8 my-2 px-0 px-sm-2">
                <picture>
                    <source srcset="{{ asset('build/images/piscine_entière_vue_bord.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/piscine_entière_vue_bord.jpg') }}"
                            type="image/jpeg">
                    <img src="{{ asset('build/images/piscine_entière_vue_bord.jpg') }}"
                         alt="Piscine LAGOON entière dans un jardin"
                         class="img-gallery">
                </picture>
            </div>
        </div>

        <div class="row bg-dark section text-light">
            <h2 class="text-center baskerville size-2">
                Les avantages des piscines naturelles LAGOON&reg;
            </h2>

            <div class="row py-5 align-items-center">
                <div class="col-12 col-md-6 p-none p-sm-1 p-md-3 bg-shape-blue1">
                    <picture>
                        <source srcset="{{ asset('build/images/unique.webp') }}" type="image/webp" class="w-75">
                        <source srcset="{{ asset('build/images/unique.jpg') }}" type="image/jpeg" class="w-75">
                        <img src="{{ asset('build/images/unique.jpg') }}" alt="Une plage LAGOON unique et son eau claire" class="w-75">
                    </picture>
                </div>

                <div class="col-12 col-md-6">
                    <div class="w-75 mx-auto my-5">
                        <h4 class="baskerville size-3">Unique</h4>
                        <p>
                            LAGOON® intègre dans ses piscines naturelles le système breveté SORGIVA associé
                            à la filtration nouvelle génération BIO-UV&reg;. Votre eau de baignade parfaitement
                            saine est ainsi distribuée de façon optimale dans l’ensemble du bassin.
                            <div class="text-center">
                                <a
                                        class="btn btn-outline-light"
                                        href="{{ path('app_gallery') }}"
                                >
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    &nbsp;Voir quelques uns de nos projets
                                </a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 align-items-center">
                <div class="col-12 col-md-6 order-md-2 py-4 bg-shape-yellow1">
                    <picture>
                        <source srcset="{{ asset('build/images/pmr.webp') }}" type="image/webp" class="w-75">
                        <source srcset="{{ asset('build/images/pmr.jpg') }}" type="image/jpeg" class="w-75">
                        <img src="{{ asset('build/images/pmr.jpg') }}" alt="Une pente douce d'une piscine LAGOON illustrant l'accès pour PMR" class="w-75">
                    </picture>
                </div>

                <div class="col-12 col-md-6 right order-md-1">
                    <div class="w-75 mx-auto my-5">
                        <h4 class="baskerville size-3">Possibilité d'accès pour PMR</h4>
                        <p>
                            Grace aux pentes douces des piscines naturelles LAGOON&reg;, l'usage des fauteuils amphibiens
                            permet une mise à l'eau relativement facile est sans trop d'efforts. Lors du devis, il vous
                            faudra simplement faire une demande pour adapter vos plages aux PMR.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 align-items-center">
                <div class="col-12 col-md-7 py-4 bg-shape-blue2">
                    <picture>
                        <source srcset="{{ asset('build/images/entretien.webp') }}" type="image/webp" class="w-75">
                        <source srcset="{{ asset('build/images/entretien.jpg') }}" type="image/jpeg" class="w-75">
                        <img src="{{ asset('build/images/entretien.jpg') }}" alt="Un bassin LAGOON avec une eau bleutée" class="w-75">
                    </picture>
                </div>

                <div class="col-12 col-md-5">
                    <div class="w-75 mx-auto my-5">
                        <h4 class="baskerville size-3">Entretien facilité</h4>
                        <p>
                            Le système unique SORGIVA, intégré dans les piscines naturelles LAGOON&reg;, réduit les points de
                            stagnation de l'eau en permettant une parfaite répartition de celle-ci dans le bassin. Cela
                            limite l'apparition d'algues et facilite ainsi son entretien.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 align-items-center">
                <div class="col-12 col-md-7 order-md-2 bg-shape-yellow2">
                    <picture>
                        <source srcset="{{ asset('build/images/ecolo.webp') }}" type="image/webp" class="w-75">
                        <source srcset="{{ asset('build/images/ecolo.jpg') }}" type="image/jpeg" class="w-75">
                        <img src="{{ asset('build/images/ecolo.jpg') }}" alt="Vue d'ensemble d'une piscine LAGOON au milieu de la verdure, d'une maison et de la montagne" class="w-75">
                    </picture>
                </div>

                <div class="col-12 col-md-5 py-4 order-md-1">
                    <div class="w-75 mx-auto my-5">
                        <h4 class="baskerville size-3">Respect de l'environnement</h4>
                        <p>
                            Le procédé de construction des piscines naturelles LAGOON&reg; est non invasif (sans béton,
                            feraille...) pour votre jardin et l'ensemble des produits utilisés sont
                            <strong>recyclables</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-lg-10 mx-auto mt-5">
                <h2 class="text-center baskerville size-2">La construction d'une piscine étape par étape</h2>
                <ul class="timeline-dark pb-5">
                    <li class="timeline-item-dark d-flex align-items-center bg-shape-blue1 bg-shape-all">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-2 size-big baskerville text-center">1</div>
                            <div class="col-12 col-md-9 px-4 p-md-2 text-center">
                                <h3 class="baskerville">Modelage du bassin</h3>
                                <p class="size-4 p-3">
                                    Une fois le terrassement exécuté, nous modelons la forme du bassin de baignade
                                    à votre convenance puis nous procédons à l'installation du réseau primaire de
                                    distribution d'eau.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item-dark row align-items-center bg-shape-yellow1 bg-shape-all">
                        <div class="col-12 col-md-2 size-big baskerville text-center">2</div>
                        <div class="col-12 col-md-9 text-center px-4 px-md-none">
                            <h3 class="baskerville">Pose de la membrane d'étancheité EPDM</h3>
                        </div>
                    </li>

                    <li class="timeline-item-dark d-flex align-items-center bg-shape-blue2 bg-shape-all">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-2 size-big baskerville text-center">3</div>
                            <div class="col-12 col-md-9 py-none py-sm-2 px-3 text-center px-4 px-md-none">
                                <h3 class="baskerville">Installation du réseau de distribution d'eau</h3>
                                <p class="size-4 p-3">
                                    Installation du réseau secondaire de distribution d'eau dans tout le bassin
                                    selon le système breveté LAGOON&reg; by Sorgiva.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item-dark d-flex align-items-center bg-shape-yellow2 bg-shape-all">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-2 size-big baskerville text-center">4</div>
                            <div class="col-12 col-md-9 py-none py-sm-2 px-3 text-center px-4 px-md-none">
                                <h3 class="baskerville">Application du revêtement</h3>
                                <p class="size-4 p-3">
                                    Application d'un revêtement bi-composant en quartz et marbre mélangé à la résine
                                    brevetée LAGOON&reg; by Sorgiva.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row pb-5 align-items-center">
                <div class="col-12 col-sm-7 text-center">
                    <picture>
                        <source srcset="{{ asset('build/images/plonger.webp') }}" type="image/webp" class="w-100">
                        <source srcset="{{ asset('build/images/plonger.jpg') }}" type="image/jpeg" class="w-100">
                        <img src="{{ asset('build/images/plonger.jpg') }}" alt="Bassin d'une piscine lagoon en résine" class="w-100 rounded-circle">
                    </picture>
                </div>
                <div class="col-12 col-sm-5 d-flex">
                        <div class="size-3 baskerville ps-5">
                            Mise en eau quelques jours plus tard et...
                            <span class="size-2 text-blue">profitez !</span>
                        </div>
                </div>
            </div>
        </div>

        <div class="row big-spacing bg-yellow-clear">
            <p class="baskerville size-3 pb-5">
                Un clic et... votre <span class="text-blue">rêve</span> devient réalité !
            </p>

            <div class="m-2 text-center">
                <a
                        type="button"
                        class="btn btn-yellow spoke"
                        href="{{ path('app_project') }}"
                >
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Je réalise mon rêve
                </a>
            </div>
        </div>
    </div>
{% endblock %}
