{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Galerie de nos plus belles piscines naturelles{% endblock %}
{% block description %}Découvrez des photos de nos plus beaux projets. Entre construction et rénovation de piscines écologiques en résine.{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 container-fluid">
        <div class="row py-5 px-none px-md-4 px-lg-5 gallery-title">
            <div class="text-title">
                <h1 class="baskerville size-1">Des rêves qui se sont déjà réalisés.</h1>
                <p>
                    Découvrez quelques uns de nos plus beaux projets réalisés et voyez à quel point chaque
                    piscine LAGOON est unique. Laissez vous inspirer !
                </p>
            </div>
        </div>

        <div class="section row align-items-center my-5">
            <div class="col-12 col-sm-4 py-2">
                <picture>
                    <source srcset="{{ asset('build/images/8.webp') }}" type="image/webp" class="w-100">
                    <source srcset="{{ asset('build/images/8.jpg') }}" type="image/jpeg" class="w-100">
                    <img src="{{ asset('build/images/8.jpg') }}"
                         alt="Une piscine Lagoon avec un fond ayant un revêtement avec du marbre vert"
                         class="w-100">
                </picture>
            </div>

            <div class="col-12 col-sm-7 overlay-picture py-4">
                <div class="bg-shape-yellow1 bg-shape-all p-5">
                    <p class="size-3 baskerville">
                        La rencontre du marbre vert et de l'eau...
                    </p>
                    <p class="text-end">
                        - <strong>Contes</strong>, Alpes Maritimes
                    </p>
                </div>
            </div>
        </div>

        <div class="section row align-items-center justify-content-end my-5">
            <div class="col-12 col-sm-7 order-2 order-sm-1 overlay-picture-right py-4">
                <div class="bg-shape-blue1 bg-shape-all p-5">
                    <p class="size-3 baskerville">
                        Quand la piscine s'embellie avec une plage LAGOON&reg;...
                    </p>
                    <p class="text-end">
                        - <strong>Nice</strong>, Alpes Maritimes
                    </p>
                </div>
            </div>

            <div class="col-12 col-sm-5 order-1 order-sm-2 py-2 text-end">
                <picture>
                    <source srcset="{{ asset('build/images/15.webp') }}" type="image/webp" class="w-100">
                    <source srcset="{{ asset('build/images/15.jpg') }}" type="image/jpeg" class="w-100">
                    <img src="{{ asset('build/images/15.jpg') }}"
                         alt="Un bassin rectangulaire auquel on a ajouté un revêtement et une plage avec la résine brevetée proposée par Lagoon"
                         class="w-100">
                </picture>
            </div>
        </div>

        <div class="section row align-items-center my-5">
            <div class="col-12 col-sm-6 py-2">
                <picture>
                    <source srcset="{{ asset('build/images/12.webp') }}" type="image/webp" class="w-100">
                    <source srcset="{{ asset('build/images/12.jpg') }}" type="image/jpeg" class="w-100">
                    <img src="{{ asset('build/images/12.jpg') }}"
                         alt="Un bassin Lagoon avec un revêtement de couleur bleue au fond"
                         class="w-100">
                </picture>
            </div>

            <div class="col-12 col-sm-6 overlay-picture py-4">
                <div class="bg-shape-yellow2 bg-shape-all p-5">
                    <p class="size-3 baskerville">
                        Et que pensez-vous d'une piscine avec un fond bleu ?
                    </p>
                    <p class="text-end">
                        - <strong>La Colle sur Loup</strong>, Alpes Maritimes
                    </p>
                </div>
            </div>
        </div>

        <div class="section row align-items-center justify-content-end my-5">
            <div class="col-12 col-sm-7 order-2 order-sm-1 overlay-picture-right py-4">
                <div class="bg-shape-blue2 bg-shape-all p-5">
                    <p class="size-3 baskerville">
                        Une cascade, des rochers et bain relaxant...
                    </p>
                    <p class="text-end">
                        - <strong>Nice</strong>, Alpes Maritimes
                    </p>
                </div>
            </div>

            <div class="col-12 col-sm-5 order-1 order-sm-2 py-2 text-end">
                <picture>
                    <source srcset="{{ asset('build/images/bain.webp') }}" type="image/webp" class="w-100">
                    <source srcset="{{ asset('build/images/bain.jpg') }}" type="image/jpeg" class="w-100">
                    <img src="{{ asset('build/images/bain.jpg') }}"
                         alt="Une piscine Lagoon avec une cascade et une eau bleue"
                         class="w-100">
                </picture>
            </div>
        </div>


        <div class="row section mx-xs-none bg-dark text-light">
            <div>
                <p class="text-uppercase">Et parce que quand il y en a plus, il y en a encore...</p>
                <h2 class="text-center baskerville size-2 py-4">Découvrez quelques projets hors normes !</h2>
            </div>

            <div class="splide px-md-5">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <picture>
                                <source srcset="{{ asset('build/images/hors-2.webp') }}" type="image/webp" class="w-100">
                                <source srcset="{{ asset('build/images/hors-2.jpg') }}" type="image/jpeg" class="w-100">
                                <img src="{{ asset('build/images/hors-2.jpg') }}"
                                     alt="Une piscine Lagoon dans une grotte souterraine illuminée"
                                     class="w-100">
                            </picture>
                            <div class="carousel-comment">
                                <h5>Dans une grotte...</h5>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <picture>
                                <source srcset="{{ asset('build/images/hors-5.webp') }}" type="image/webp" class="w-100">
                                <source srcset="{{ asset('build/images/hors-5.jpg') }}" type="image/jpeg" class="w-100">
                                <img src="{{ asset('build/images/hors-5.jpg') }}"
                                     alt="Une cascade avec de l'eau coulant entre des rochers sur le bord d'une plage Lagoon"
                                     class="w-100">
                            </picture>
                            <div class="carousel-comment">
                                <h5>Avec une cascade...</h5>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <picture>
                                <source srcset="{{ asset('build/images/hors-1.webp') }}" type="image/webp" class="w-100">
                                <source srcset="{{ asset('build/images/hors-1.jpg') }}" type="image/jpeg" class="w-100">
                                <img src="{{ asset('build/images/hors-1.jpg') }}"
                                     alt="Une vaste plage Lagoon au milieu de cocotiers surplombant la mer"
                                     class="w-100">
                            </picture>
                            <div class="carousel-comment">
                                <h5>Comme à la plage...</h5>
                                <p>
                                    800 m<sup>2</sup> de plan d'eau<br>
                                    900 m<sup>2</sup> d'espace détente<br>
                                </p>
                                <p>
                                    <strong>Saint Martin, Caraïbes</strong><br>
                                    Février 2020
                                </p>

                                <a class="btn btn-outline-light btn-sm" href="https://www.youtube.com/watch?v=p9rvxWa411M" target="_blank">
                                    <i class="fa fa-play" aria-hidden="true"></i>&nbsp;Voir la vidéo de la construction
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="big-spacing">
            <div class="section">
                <p class="baskerville size-3 pb-5">
                    Et vous alors ? Quel est <span class="text-yellow">votre</span> rêve ?
                </p>

                <div class="m-2 text-center">
                    <a
                            type="button"
                            class="btn btn-blue spoke"
                            href="{{ path('app_project') }}"
                    >
                        <i class="fa fa-play" aria-hidden="true"></i>
                        &nbsp;Composer mon rêve
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
