<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}LAGOON&reg; Piscines - Constructeur de piscines naturelles et écologiques basé sur la Côte d'Azur{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/43f9248d84.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a class="brand-link" href="{{ path('app_home') }}">
                        <img src="{{ asset('build/images/logo.svg') }}"
                             alt="Logo lagoon piscines"
                             height="45"
                             width="120"
                             style="object-fit: cover;"
                        >
                    </a>
                </div>
                <nav>
                    <div class="nav-mobile">
                        <a id="nav-toggle" href="#!"><span></span></a>
                    </div>
                    <ul class="nav-list">
                        <li><a href="#">Construction</a></li>
                        <li><a href="#">Formation</a></li>
                        <li><a href="#">Le concept</a></li>
                        <li><a href="#">Contact</a></li>
                        <li class="phone-mobile text-center">
                            <button class="btn button-secondary" href="tel:0953837665">
                                <i class="fa fa-phone"></i>
                                +33 9 53 83 76 65
                            </button>
                        </li>
                    </ul>
                </nav>
                <div class="phone my-auto pe-3">
                    <a class="btn button-yellow" href="tel:0953837665">
                        <i class="fa fa-phone"></i>
                        +33 9 53 83 76 65
                    </a>
                </div>
            </div>
        </section>
        {% block body %}{% endblock body %}
        <footer class="bg-blue text-light pt-2 row section align-items-center">
            <div class="col-12 col-md-4 order-1 order-md-2 text-center">
                <picture>
                    <source srcset="{{ asset('build/images/logo_blanc.webp') }}"
                            type="image/webp">
                    <source srcset="{{ asset('build/images/logo_blanc.png') }}"
                            type="image/png">
                    <img src="{{ asset('build/images/logo_blanc.png') }}"
                         alt="Logo lagoon blanc"
                         height="100">
                </picture>
                <p>
                    Lagoon s'est fixé la mission de vous offrir des piscines naturelles…
                    <br>
                    Tel : +33 9 53 83 76 75
                    <br>
                    SAS au capital de ...
                    <br>
                    RCS Grasse ...
                </p>
                <div class="d-flex flex-row fs-2 justify-content-center">
                    <div class="px-2">
                        <a class="link-light" href="https://www.linkedin.com/company/lagoon-piscines/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="px-2">
                        <a class="link-light" href="https://www.instagram.com/lagoonpiscines/">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="px-2">
                        <a class="link-light" href="https://www.facebook.com/lagoonpiscinesetspa">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 order-2 order-md-1 text-roboto-bold">
                <ul class="list-unstyled text-center">
                    <li><a class="link-light" href="#">Construction</a></li>
                    <li><a class="link-light" href="#">Formation</a></li>
                    <li><a class="link-light" href="#">Le Concept</a></li>
                    <li><a class="link-light" href="#">Dates des formations</a></li>
                </ul>
            </div>
            <hr class="d-block d-md-none order-3 w-50 mx-auto">
            <div class="col-12 col-md-4 order-4 text-roboto-bold">
                <ul class="list-unstyled text-center">
                    <li><a class="link-light" href="#">Politique de confidentialité</a></li>
                    <li><a class="link-light" href="#">Politique des cookies</a></li>
                    <li><a class="link-light" href="#">Contact</a></li>
                    <li><a class="link-light" href="{{ path('app_login') }}">Espace privé</a></li>
                </ul>
            </div>
            <div class="text-center order-5">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                &nbsp;Copyright {{ "now"|date("Y") }} LAGOON&reg; DISTRIBUTION CORPORATION
            </div>
        </footer>
    </body>
</html>
