<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}LAGOON&reg; Piscines - Constructeur de piscines naturelles et écologiques basé sur la Côte d'Azur{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/43f9248d84.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="container-fluid">
        <header class="row">
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark-clear p-0">
                <div class="container-fluid inter-semi-bold">
                    <a class="navbar-brand" href="{{ path('app_home') }}">
                        <img src="{{ asset('build/images/logo.svg') }}"
                             alt="Logo lagoon piscines"
                             height="39"
                             width="120"
                             style="object-fit: cover;"
                        >
                    </a>

                    <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNav"
                            aria-controls="navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between text-start" id="navbarNav">
                        <div class="nav navbar-nav pull-left">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#" id="navbarDropdownSwimmingPools"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Nos piscines
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownSwimmingPools">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_concept') }}">
                                            <span class="{% if app.request.attributes.get('_route') == 'app_concept' %}fw-bold underline-blue{% endif %}">
                                                Le concept
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_gallery') }}">
                                            <span class="{% if app.request.attributes.get('_route') == 'app_gallery' %}fw-bold underline-blue{% endif %}">
                                                Nos réalisations
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_project') }}">
                                            <span class="{% if app.request.attributes.get('_route') == 'app_project' %}fw-bold underline-blue{% endif %}">
                                                Demander un devis
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_formation') }}">
                                    <span class="{% if (app.request.attributes.get('_route') == 'app_formation') or (app.request.attributes.get('_route') == 'app_ask') %}fw-bold underline-blue{% endif %}">
                                        Formation
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#" id="navbarDropdownAboutUs"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    A propos de nous
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAboutUs">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_news') }}">
                                            <span class="{% if (app.request.attributes.get('_route') == 'app_news') %}fw-bold underline-blue{% endif %}">
                                                Actualités
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_faq') }}">
                                            <span class="{% if (app.request.attributes.get('_route') == 'app_faq') %}fw-bold underline-blue{% endif %}">
                                                FAQ
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_about_us') }}">
                                            <span class="{% if (app.request.attributes.get('_route') == 'app_about_us') %}fw-bold underline-blue{% endif %}">
                                                Qui sommes nous ?
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div>
                            <a class="btn rounded-corners btn-yellow" href="{{ path('app_project') }}#devis">
                                <i class="fa fa-arrow-right"></i>
                                &nbsp;Demander un devis
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer class="row bg-dark text-light">
            <div class="row py-5 inter-black fs-5">
                <div class="col-5">
                    <ul style="list-style:none">
                        <li><a
                                    href="https://www.iubenda.com/privacy-policy/77195636"
                                    class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe blank-link"
                                    title="Politique de confidentialité"
                            >
                                Politique de confidentialité
                            </a>
                        </li>
                        <li>
                            <a
                                    href="https://www.iubenda.com/privacy-policy/77195636/cookie-policy"
                                    class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe blank-link"
                                    title="Politique relative aux cookies "
                            >
                                Politique relative aux cookies
                            </a>
                        </li>
                        <li><a href="{{ path('app_project') }}" class="blank-link">Demande de devis</a></li>
                    </ul>
                </div>

                <div class="col-5">
                    <ul style="list-style:none">
                        <li><a href="{{ path('app_about_us') }}" class="blank-link">Qui sommes nous ?</a></li>
                        <li>
                            <a href="{{ path('app_faq') }}" class="blank-link">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_news') }}" class="blank-link">
                                Actualités
                            </a>
                        </li>
                        <li>
                            <a {% if app.user %}
                                    href="{{ path('app_dashboard') }}"
                                {% else %}
                                    href="{{ path('app_login') }}"
                                {% endif %}
                                    class="blank-link">
                                Espace privé
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-2">
                    <a href="https://www.facebook.com/lagoonpiscinesetspa" class="blank-link" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true" style="font-size:2em"></i>
                    </a>&ensp;
                    <a href="https://www.instagram.com/lagoonpiscines/" class="blank-link" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true" style="font-size:2em"></i>
                    </a>
                </div>
            </div>

            <div class="text-center">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                &nbsp;Copyright 2022 LAGOON&reg; DISTRIBUTION CORPORATION
            </div>
        </footer>
    </body>
</html>
