<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}LAGOON&reg; Piscines - Constructeur de piscines naturelles et écologiques basé sur la Côte d'Azur{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/43f9248d84.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="container-fluid">
        <header class="row">
            <nav class="navbar navbar-expand-lg navbar-dark position-navbar bg-dark-clear p-0 flex-column">
                <div class="container-fluid inter-semi-bold">
                    <div class="d-block d-lg-none">
                        <a class="blank-link"
                            {% if app.user %}
                                href="{{ path('app_dashboard') }}"
                            {% else %}
                                href="{{ path('app_login') }}"
                        {% endif %}
                        >
                            <i class="fa fa-user fs-3"></i>
                        </a>
                    </div>
                    <div class="py-2">
                        <a class="navbar-brand me-0" href="{{ path('app_home') }}">
                            <img src="{{ asset('build/images/logo.svg') }}"
                                 alt="Logo lagoon piscines"
                                 height="39"
                                 width="120"
                                 style="object-fit: cover;"
                            >
                        </a>
                    </div>

                    <button
                            class="navbar-toggler border-0 px-0 blank-link"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNav"
                            aria-controls="navbarNav"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                    >
                        <i class="fa fa-bars fs-3"></i>
                    </button>

                    <div class="d-none d-lg-block inter-light">
                        <a class="blank-link pe-3"
                           {% if app.user %}
                                href="{{ path('app_dashboard') }}"
                             {% else %}
                                href="{{ path('app_login') }}"
                             {% endif %}">
                            <i class="fa fa-user"></i>
                            &nbsp;Espace privé
                        </a>

                        <a class="btn rounded-corners btn-outline-light border-0 text-dark bg-yellow"
                           href="{{ path('app_project_ask') }}">
                            Demander un devis
                        </a>

                        <a class="btn rounded-corners btn-outline-light border-0 text-dark bg-blue"
                           href="{{ path('app_formation_ask', {formationId: 1}) }}">
                            Devenir Lagoniste
                        </a>
                    </div>
                </div>

                <div class="container-fluid g-0">
                    <div class="collapse navbar-collapse nav navbar-nav flex-column flex-lg-row justify-content-lg-around inter-black" id="navbarNav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_gallery') }}">
                                <span
                                    class="{% if (app.request.attributes.get('_route') == 'app_gallery') %}
                                                fw-bold underline-blue
                                            {% endif %}">
                                    Nos réalisations
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_concept') }}">
                                <span class="{% if (app.request.attributes.get('_route') == 'app_concept') %}
                                                fw-bold underline-blue
                                             {% endif %}">
                                    Notre concept
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_formation') }}">
                                <span class="{% if (app.request.attributes.get('_route') == 'app_formation') or (app.request.attributes.get('_route') == 'app_ask') %}fw-bold underline-blue{% endif %}">
                                    Nos formations
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#" id="navbarDropdownAboutUs"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                A propos de nous
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAboutUs">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_news') }}">
                                        <span class="{% if (app.request.attributes.get('_route') == 'app_news') %}fw-bold underline-blue{% endif %}">
                                            Actualités
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_faq') }}">
                                        <span class="{% if (app.request.attributes.get('_route') == 'app_faq') %}fw-bold underline-blue{% endif %}">
                                            FAQ
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_about_us') }}">
                                        <span class="{% if (app.request.attributes.get('_route') == 'app_about_us') %}fw-bold underline-blue{% endif %}">
                                            Qui sommes nous ?
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
            </nav>

            <div class="container-fluid g-0 d-block d-lg-none z-index-fixed">
                <div class="position-fixed bottom-0 start-0 w-100 d-flex rounded-corners-top shadow-top">
                    <div class="w-50 text-center btn-yellow py-3 rounded-corners-top-start">
                        <a class="inter-light text-dark"
                           href="{{ path('app_project_ask') }}">
                            Demander un devis
                        </a>
                    </div>

                    <div class="w-50 text-center btn-blue py-3 rounded-corners-top-end">
                        <a class="inter-light text-dark"
                           href="{{ path('app_formation_ask', {formationId: 1}) }}">
                            Devenir Lagoniste
                        </a>
                    </div>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer class="row bg-dark text-light">
            <div class="row py-5 inter-black fs-5">
                <div class="col-5">
                    <ul style="list-style:none">
                        <li><a
                                    href="https://www.iubenda.com/privacy-policy/77195636"
                                    class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe blank-link"
                                    title="Politique de confidentialité"
                            >
                                Politique de confidentialité
                            </a>
                        </li>
                        <li>
                            <a
                                    href="https://www.iubenda.com/privacy-policy/77195636/cookie-policy"
                                    class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe blank-link"
                                    title="Politique relative aux cookies "
                            >
                                Politique relative aux cookies
                            </a>
                        </li>
                        <li><a href="{{ path('app_project_ask') }}" class="blank-link">Demande de devis</a></li>
                    </ul>
                </div>

                <div class="col-5">
                    <ul style="list-style:none">
                        <li><a href="{{ path('app_about_us') }}" class="blank-link">Qui sommes nous ?</a></li>
                        <li>
                            <a href="{{ path('app_faq') }}" class="blank-link">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_news') }}" class="blank-link">
                                Actualités
                            </a>
                        </li>
                        <li>
                            <a {% if app.user %}
                                    href="{{ path('app_dashboard') }}"
                                {% else %}
                                    href="{{ path('app_login') }}"
                                {% endif %}
                                    class="blank-link">
                                Espace privé
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-2">
                    <a href="https://www.facebook.com/lagoonpiscinesetspa" class="blank-link" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true" style="font-size:2em"></i>
                    </a>&ensp;
                    <a href="https://www.instagram.com/lagoonpiscines/" class="blank-link" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true" style="font-size:2em"></i>
                    </a>
                </div>
            </div>

            <div class="text-center">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                &nbsp;Copyright 2022 LAGOON&reg; DISTRIBUTION CORPORATION
            </div>
        </footer>
    </body>
</html>
