{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Piscines - Le procédé de construcion des piscines écologiques LAGOON&reg;{% endblock %}

{% block description %}
    Apprenez en plus sur les techniques de construction de nos piscines. Sans béton ni ferraille, mais construites en
    résine et EPDM, nos piscines sont éco-responsables.
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('concept') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('concept') }}
{% endblock %}

{% block body %}
    <div id="corps">
        <div class="row pt-5 px-none px-md-4 px-lg-5">
            <div class="my-5">
                <h1 class="inter-black size-1 pt-5">Le procédé de construction des piscines LAGOON&reg;</h1>
                <p>
                    Découvrez ici le procédé de construction des piscines écologiques LAGOON&reg; et ses avantages par
                    rapport aux piscines traditionnelles. <br>
                    Déjà convaincu ? Vous pouvez dès maintenant cliquer sur le bouton ci-dessous.
                </p>
                <a class="btn btn-yellow rounded-corners"
                   href="{{ path('app_project_ask') }}">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    &nbsp;Je demande un devis
                </a>
            </div>
        </div>

        <div class="row bg-dark text-light">
            <div class="row py-5 align-items-center g-0">
                <div class="col-12 col-md-5 g-0">
                    <picture>
                        <source srcset="{{ asset('build/images/unique.webp') }}" type="image/webp">
                        <source srcset="{{ asset('build/images/unique.jpg') }}" type="image/jpeg">
                        <img src="{{ asset('build/images/unique.jpg') }}"
                             alt="Une plage LAGOON unique et son eau claire"
                             class="w-100">
                    </picture>
                </div>

                <div class="col-12 col-md-7 section ps-0">
                    <div class="w-75 mx-auto my-5">
                        <h2 class="inter-black size-3">
                            Un système <span class="underline-blue">breveté</span> pour la répartition de l'eau
                        </h2>
                        <p>
                            Le système unique SORGIVA, intégré dans la construction des piscines écologiques LAGOON®,
                            réduit les points de stagnation de l'eau en permettant une parfaite répartition de celle-ci
                            dans le bassin. Cela limite l'apparition d'algues et facilite ainsi son entretien.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 align-items-center g-0">
                <div class="col-12 col-md-6 order-md-2 py-4 g-0">
                    <picture>
                        <source srcset="{{ asset('build/images/pmr.webp') }}" type="image/webp">
                        <source srcset="{{ asset('build/images/pmr.jpg') }}" type="image/jpeg">
                        <img src="{{ asset('build/images/pmr.jpg') }}"
                             alt="Une piscine lagoon écologique avec rochers et une eau bleutée claire"
                             class="w-100">
                    </picture>
                </div>

                <div class="col-12 col-md-6 right order-md-1 section pe-0">
                    <div class="w-75 mx-auto my-5 text-end">
                        <h2 class="inter-black size-3">
                            Une filtration <span class="underline-blue">écologique</span>
                        </h2>
                        <p>
                            LAGOON&reg; intègre dans la construction de ses piscines écologiques un système de distribution de
                            l’eau innovant. De plus, nous mettons en oeuvre une désinfection de l’eau de nouvelle génération
                            (électrolyse au sel, UV…).
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 align-items-center g-0">
                <div class="col-12 col-md-4 py-4 g-0">
                    <picture>
                        <source srcset="{{ asset('build/images/entretien.webp') }}" type="image/webp">
                        <source srcset="{{ asset('build/images/entretien.jpg') }}" type="image/jpeg">
                        <img src="{{ asset('build/images/entretien.jpg') }}"
                             alt="Un bassin naturel LAGOON en résine avec un rocher décoratif"
                             class="w-100">
                    </picture>
                </div>

                <div class="col-12 col-md-8 section ps-0">
                    <div class="w-75 mx-auto my-5">
                        <h2 class="inter-black size-3">
                            Des matériaux <span class="underline-blue">écologiques</span>
                        </h2>
                        <p>
                            Le procédé de construction des piscines naturelles LAGOON® est non invasif (sans béton,
                            feraille...) pour votre jardin. Une fois le terrassement effectué, nous utilisons uniquement
                            des matériaux recyclables tels que l’EPDM, un revêtement en sable naturel de quartz et marbre
                            sélectionné et une résine développée spécifiquement pour les bassins.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section pb-0 mb-0">
            <div class="col-lg-10 mx-auto mt-5">
                <h2 class="text-center inter-black size-2">La construction d'une piscine naturelle étape par étape</h2>
                <ul class="timeline-dark pb-5">
                    <li class="timeline-item-dark d-flex align-items-center">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-12 col-sm-5 text-center">
                                <picture>
                                    <source srcset="{{ asset('build/images/modelage_forme.webp') }}" type="image/webp">
                                    <source srcset="{{ asset('build/images/modelage_forme.jpg') }}" type="image/jpeg">
                                    <img src="{{ asset('build/images/modelage_forme.jpg') }}"
                                         alt="Après terrassement, modelage de l'exacavation, de la forme du bassin naturel."
                                         class="w-100 rounded-corners">
                                </picture>
                            </div>
                            <div class="col-12 col-sm-1 size-big baskerville text-center">1</div>
                            <div class="col-12 col-sm-6 p-none p-sm-2 ps-sm-5 text-center text-sm-start">
                                <h3 class="inter-black">Modelage du bassin</h3>
                                <p>
                                    Une fois le terrassement exécuté, nous modelons la forme du bassin de baignade
                                    à votre convenance puis nous procédons selon les règles de l’art à l’installation du
                                    réseau primaire de distribution d’eau et des éléments hydrauliques nécessaires au bon
                                    fonctionnement de la piscine.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item-dark d-flex align-items-center">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-12 col-sm-5 text-center">
                                <picture>
                                    <source srcset="{{ asset('build/images/epdm.webp') }}" type="image/webp">
                                    <source srcset="{{ asset('build/images/epdm.jpg') }}" type="image/jpeg">
                                    <img src="{{ asset('build/images/epdm.jpg') }}"
                                         alt="Pose d'une membrane d'étanchéité epdm sur la totalité du bassin"
                                         class="w-100 rounded-corners">
                                </picture>
                            </div>
                            <div class="col-12 col-sm-1 size-big baskerville text-center">2</div>
                            <div class="col-12 col-sm-6 p-none p-sm-2 ps-sm-5 text-center text-sm-start">
                                <h3 class="inter-black">Pose de la membrane d'étancheité EPDM</h3>
                                <p>
                                    L'EPDM est une matière très robuste, réputée pour son élasticité et sa résistance.
                                    Dans le cas des piscines LAGOON&reg;, cette membrane a pour but d'absorber les mouvements du
                                    terrain tout en maintenant une étanchéité parfaite.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item-dark d-flex align-items-center">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-5 text-center">
                                <picture>
                                    <source srcset="{{ asset('build/images/reseau_secondaire.webp') }}" type="image/webp">
                                    <source srcset="{{ asset('build/images/reseau_secondaire.jpg') }}" type="image/jpeg">
                                    <img src="{{ asset('build/images/reseau_secondaire.jpg') }}"
                                         alt="Une personne travaillant sur une piscine lagoon pour poser un tuyau de distribution d'eau"
                                         class="w-100 rounded-corners">
                                </picture>
                            </div>
                            <div class="col-12 col-sm-1 size-big baskerville text-center">3</div>
                            <div class="col-12 col-sm-6 p-none p-sm-2 ps-sm-5 text-center text-sm-start">
                                <h3 class="inter-black">Installation du réseau de distribution d'eau</h3>
                                <p>
                                    Installation du réseau secondaire de distribution d'eau dans tout le bassin
                                    selon le système breveté LAGOON&reg; by Sorgiva. Cette étape permet d'éviter les points
                                    de stagnation possibles de l'eau (plages immergée, fond de bassin, contour de rocher
                                    immergé...).
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item-dark d-flex align-items-center">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-5 text-center">
                                <picture>
                                    <source srcset="{{ asset('build/images/form-1.webp') }}" type="image/webp">
                                    <source srcset="{{ asset('build/images/form-1.jpg') }}" type="image/jpeg">
                                    <img src="{{ asset('build/images/form-1.jpeg') }}"
                                         alt="Homme appliquant de la résine sur la pente d'une piscine écologique à l'aide d'une taloche"
                                         class="w-100 rounded-corners">
                                </picture>
                            </div>
                            <div class="col-12 col-sm-1 size-big baskerville text-center">4</div>
                            <div class="col-12 col-sm-6 p-none p-sm-2 ps-sm-5 text-center text-sm-start">
                                <h3 class="inter-black">Application du revêtement</h3>
                                <p>
                                    Place à du <strong>paysagisme</strong> avec le positionnement des aménagements
                                    décoratifs : rochers, cascades, plantes.. Ensuite, nous procédons à la création d’un revêtement
                                    en sable naturel de quartz et marbre sélectionné lié par une résine développée
                                    spécifiquement pour les bassins.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row p-0 p-sm-5 bg-pool align-items-center inter-black">
            <div class="section">
                <div class="size-3 ps-2 ps-sm-5">
                    Mise en eau quelques jours plus tard et...
                    <br>
                    <div class="size-2 text-yellow underlined inter-black text-end">...profitez !</div>
                </div>
            </div>
        </div>

        <div class="row big-spacing bg-yellow">
            <p class="size-3 pb-5">
                Découvrez quelques uns de <span class="underline-blue inter-black">nos plus beaux projets</span> de
                piscines écologiques déjà réalisés.
            </p>

            <div class="m-2 text-center">
                <a type="button"
                   class="btn btn-lg btn-dark rounded-corners"
                   href="{{ path('app_gallery') }}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    &nbsp;Voir la galerie
                </a>
            </div>
        </div>
    </div>
{% endblock %}
