{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="pt-4 text-center">
        {{ include('dashboard/_delete_form.html.twig') }}
        <button class="btn button-green ps-4">
            <i class="fa fa-check"></i>
            {{ button_label|default('Valider') }}
        </button>
    </div>
{{ form_end(form) }}
