<div id="other-informations" class="row py-4">
    <div class="col-12 col-sm-4">
        <h3 class="baskerville size-3">Renseignements utiles</h3>
        {% include 'formation/ask/steps/reusables/list.html.twig' %}
    </div>

    <div class="col-12 col-sm-8 bg-white rounded-corners text-dark p-5 d-flex flex-column justify-content-between">
        <div class="pb-5">
            <div class="pb-3">
                <i class="fas fa-tools form-icon"></i>
            </div>
            {% if flow.getFormData.isStagiaireMultiple == 1 %}
                <label class="mt-1 fw-bold" id="prerequis_stagiaires">
                    Les stagiaires savent-ils utiliser les outils suivants ?
                </label>
            {% else %}
                <label class="mt-1 fw-bold" id="prerequis_autre">
                    Je sais utiliser les outils suivants
                </label>
            {% endif %}

            <div style="display:none">
                {{ form_row(form.prerequisites) }}
            </div>

            <div class="ms-3">
                <div>
                    <label>Visseuse</label><br>
                    <input
                            type="radio"
                            class="btn-check"
                            name="visseuse"
                            id="oui-visseuse"
                            value="oui"
                            autocomplete="off"
                            required
                            {% if prerequisites != null %}
                                {% if prerequisites.Visseuse == "oui" %}
                                    checked
                                {% endif %}
                            {% endif %}
                    >
                    <label class="btn btn-outline-success" for="oui-visseuse">Oui</label>

                    <input
                            type="radio"
                            class="btn-check"
                            name="visseuse"
                            id="non-visseuse"
                            value="non"
                            autocomplete="off"
                            {% if prerequisites != null %}
                                {% if prerequisites.visseuse == "non" %}
                                    checked
                                {% endif %}
                            {% endif %}
                    >
                    <label class="btn btn-outline-danger" for="non-visseuse">Non</label>
                </div>

                <div>
                    <label>Perceuse</label><br>
                    <input
                            type="radio"
                            class="btn-check"
                            name="perceuse"
                            id="oui-perceuse"
                            value="oui"
                            autocomplete="off"
                            required
                    >
                    <label class="btn btn-outline-success" for="oui-perceuse">Oui</label>

                    <input
                            type="radio"
                            class="btn-check"
                            name="perceuse"
                            id="non-perceuse"
                            value="non"
                            autocomplete="off"
                    >
                    <label class="btn btn-outline-danger" for="non-perceuse">Non</label>
                </div>

                <div>
                    <label>Taloche</label><br>
                    <input
                            type="radio"
                            class="btn-check"
                            name="taloche"
                            id="oui-taloche"
                            value="oui"
                            autocomplete="off"
                            required
                    >
                    <label class="btn btn-outline-success" for="oui-taloche">Oui</label>

                    <input
                            type="radio"
                            class="btn-check"
                            name="taloche"
                            id="non-taloche"
                            value="non"
                            autocomplete="off"
                    >
                    <label class="btn btn-outline-danger" for="non-taloche">Non</label>
                </div>

                <div>
                    <label>Malaxeur à main</label><br>
                    <input
                            type="radio"
                            class="btn-check"
                            name="malaxeur"
                            id="oui-malaxeur"
                            value="oui"
                            autocomplete="off"
                            required
                    >
                    <label class="btn btn-outline-success" for="oui-malaxeur">Oui</label>

                    <input
                            type="radio"
                            class="btn-check"
                            name="malaxeur"
                            id="non-malaxeur"
                            value="non"
                            autocomplete="off"
                    >
                    <label class="btn btn-outline-danger" for="non-malaxeur">Non</label>
                </div>

                <div>
                    <label>Malaxeur vertical</label><br>
                    <input
                            type="radio"
                            class="btn-check"
                            name="malaxeurv"
                            id="oui-malaxeurv"
                            value="oui"
                            autocomplete="off"
                            required
                    >
                    <label class="btn btn-outline-success" for="oui-malaxeurv">Oui</label>

                    <input
                            type="radio"
                            class="btn-check"
                            name="malaxeurv"
                            id="non-malaxeurv"
                            value="non"
                            autocomplete="off"
                    >
                    <label class="btn btn-outline-danger" for="non-malaxeurv">Non</label>
                </div>

                <div class="col-12">
                    <label for="commentaires-outils">Commentaires</label><br>
                    <textarea
                            id="commentaires-outils"
                            class="form-control"
                            name="commentaires-outils"
                            rows="4"
                    ></textarea>
                </div>
            </div>

            <div class="mt-3">
                {% if flow.getFormData.isStagiaireMultiple == 1 %}
                    <label class="fw-bold">
                        Les compétences actuelles des stagiaires
                    </label>
                {% else %}
                    <label class="fw-bold">
                        Mes compétences actuelles
                    </label>
                {% endif %}

                <div class="ms-3">
                    <div>
                        {% if flow.getFormData.isStagiaireMultiple == 1 %}
                            <label>Au moins un stagiaire a des connaissances sur un logiciel de dessin 2D/3D (de type Autocad, Microstation, Draftsight….)</label><br>
                        {% else %}
                            <label>J’ai des connaissances sur un logiciel de dessin 2D/3D (de type Autocad, Microstation, Draftsight….)</label><br>
                        {% endif %}
                        <input
                                type="radio"
                                class="btn-check"
                                name="3d-drawing-software"
                                id="yes-3d-drawing-software"
                                value="oui"
                                autocomplete="off"
                                required
                        >
                        <label class="btn btn-outline-success" for="yes-3d-drawing-software">Oui</label>

                        <input
                                type="radio"
                                class="btn-check"
                                name="3d-drawing-software"
                                id="no-3d-drawing-software"
                                value="non"
                                autocomplete="off"
                        >
                        <label class="btn btn-outline-danger" for="no-3d-drawing-software">Non</label>
                    </div>

                    <div>
                        {% if flow.getFormData.isStagiaireMultiple == 1 %}
                            <label>Au moins un stagiaire a une expérience de 2 ans ou plus dans un bureau d’étude concepteur, architecte ou autre</label><br>
                        {% else %}
                            <label>J’ai une expérience de 2 ans ou plus dans un bureau d’étude concepteur, architecte ou autre</label><br>
                        {% endif %}
                        <input
                                type="radio"
                                class="btn-check"
                                name="architect-experience"
                                id="yes-architect-experience"
                                value="oui"
                                autocomplete="off"
                                required
                        >
                        <label class="btn btn-outline-success" for="yes-architect-experience">Oui</label>

                        <input
                                type="radio"
                                class="btn-check"
                                name="architect-experience"
                                id="no-architect-experience"
                                value="non"
                                autocomplete="off"
                        >
                        <label class="btn btn-outline-danger" for="no-architect-experience">Non</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-5">
            <div class="pb-3">
                <i class="fas fa-file-alt form-icon"></i>
            </div>

            <div class="row mt-1">
                <div>
                    <div class="fw-bold">
                        {{ form_label(form.knowsUs) }}
                    </div>
                    <div class="ms-3">
                        {% for child in form.knowsUs.children %}
                            <div class="">
                                <div class="">
                                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                    <label class="form-check-label" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-error">
                        {{ form_errors(form.knowsUs) }}
                    </div>
                </div>

                <div class="col-12 col-md-8" id="autre_cnn_champ" style="display:none;">
                    <label for="autre_connu_champ">Précisez :</label><br>
                    <input
                            type="text"
                            class="form-control"
                            id="autre_connu_champ"
                            name="other[knowsUs]"
                    >
                </div>
            </div>

            <div class="row mt-3">
                <div>
                    <div class="fw-bold">
                        {{ form_label(form.funding) }}
                    </div>
                    <div class="ms-3">
                        {% for child in form.funding.children %}
                            <div class="">
                                <div class="">
                                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                    <label class="form-check-label" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-error">
                        {{ form_errors(form.funding) }}
                    </div>
                </div>
            </div>

            {% if form.handicap is defined %}
                <div class="mt-3" id="handicap">
                    <div class="fw-bold">Situation de handicap</div>
                    <div class="form-check">
                        {{ form_widget(form.handicap) }}
                        {{ form_label(form.handicap) }}

                        <div class="form-error">
                            {{ form_errors(form.handicap) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {% include 'formation/ask/steps/reusables/buttons.html.twig' %}
    </div>
</div>