<h3 class="inter-black size-3">
    La formation
</h3>

<div class="row pt-3" id="numberLearners" style="display:none;">
    {% if form.numberOfLearners is defined %}
        <div class="col-12">
            {{ form_label(form.numberOfLearners) }}
            {{ form_widget(form.numberOfLearners) }}

            <div class="form-error">
                {{ form_errors(form.numberOfLearners) }}
            </div>
        </div>
    {% endif %}
</div>

<div class="row py-3">
    <div>
        <div>
            {{ form_label(form.knowsUs) }}
        </div>
        <div class="ms-3">
            {% for child in form.knowsUs.children %}
                <div class="">
                    <div class="">
                        {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                        <label class="form-check-label" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form-error">
            {{ form_errors(form.knowsUs) }}
        </div>
    </div>

    <div class="col-12 col-md-8" id="autre_cnn_champ" style="display:none;">
        <label for="autre_connu_champ">Précisez :</label><br>
        <input
                type="text"
                class="form-control"
                id="autre_connu_champ"
                name="other[knowsUs]"
        >
    </div>
</div>

<div class="text-secondary size-little">
    {{ form_label(form.consents) }}
    {% for child in form.consents.children %}
        <div class="">
            <div class="form-check consent">
                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                <label class="form-check-label" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
            </div>
        </div>
    {% endfor %}

    <div class="form-error">
        {{ form_errors(form.consents) }}
    </div>
</div>