<h3 class="inter-black size-3">
    Mon statut
</h3>

<div class="h-100 d-flex flex-column justify-content-between">
    <div>
        <div class="pt-3">
            <label>{{ form_label(form.status) }}</label>
            <div class="buttons-group">
                {% for child in form.status.children %}
                    <div class="">
                        <div class="">
                            {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                            <label class="form-check-label required" for="{{ child.vars.id }}" >{{ child.vars.label }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="form-error">
                {{ form_errors(form.status) }}
            </div>
        </div>
        <br>

        <div class="row text-secondary" id="autre_statut_champ" style="display:none;">
            <div class="col-12">
                <label for="autre1" class="mt-none">
                    Veuillez préciser :
                </label><br>
                <input type="text" class="form-control" id="autre1" name="other[status]">
            </div>
        </div><br>

        <div class="row pb-4" id="companyInformations" style="display:none;">
            {% if form.companyName is defined %}
                <div class="col-12 col-md-9 col-lg-7 col-xl-6" id="companyName">
                    {{ form_label(form.companyName) }}
                    {{ form_widget(form.companyName) }}

                    <div class="form-error">
                        {{ form_errors(form.companyName) }}
                    </div>
                </div>
            {% endif %}
            {% if form.companyPostalCode is defined %}
                <div class="col-12 col-md-5 col-lg-5 col-xl-4" id="companyPostalCode">
                    {{ form_label(form.companyPostalCode) }}
                    {{ form_widget(form.companyPostalCode) }}

                    <div class="form-error">
                        {{ form_errors(form.companyPostalCode) }}
                    </div>
                </div>
            {% endif %}
            {% if form.companyPostalCode is defined %}
                <div class="col-12 col-md-8 col-lg-6 col-xl-5" id="numberOfWorkersInCompany">
                    {{ form_label(form.numberOfWorkersInCompany) }}
                    {{ form_widget(form.numberOfWorkersInCompany) }}

                    <div class="form-error">
                        {{ form_errors(form.numberOfWorkersInCompany) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'formation/ask/steps/reusables/buttons.html.twig' %}
</div>