<h1>Nouvelle demande de formation !</h1>

<p>
    Une nouvelle demande de formation a été effectuée sur <a href="https://lagoon-formations.com">LAGOON&reg; Formations</a>
    le {{ 'now'|date("d/m/Y \\à H:i") }}.
</p>

<div>
    <h2>Statut : </h2>
    <ul>
        {% if ask.status.statusName and status is null %}
            <li>Statut : {{ ask.status.statusName }}</li>
        {% elseif status is not null %}
            <li>Statut : {{ status }}</li>
        {% endif %}

        {% if ask.goal %}
            <li>Objectif : {{ ask.goal }}</li>
        {% endif %}
    </ul>
</div>

<div>
    <h2>La formation : </h2>
    <ul>
        {% if ask.formationLibelle.libelle %}
            <li>Formation demandée : {{ ask.formationLibelle.libelle }}</li>
        {% endif %}
        {% if ask.formationSession.dateStart and ask.formationSession.dateEnd %}
            <li>Date souhaitée : Du {{ ask.formationSession.dateStart|date("d/m/Y") }} au {{ ask.formationSession.dateEnd|date("d/m/Y") }}</li>
        {% endif %}
    </ul>
</div>

<div>
    <h2>Les coordonnées : </h2>
    <ul>
        {% if ask.companyName and ask.companyName != "null" %}
            <li>Nom de l'entreprise : {{ ask.companyName }}</li>
        {% endif %}
        {% if ask.idPoleEmploi and ask.idPoleEmploi != "null" %}
            <li>Identifiant Pole Emploi : {{ ask.idPoleEmploi}}</li>
        {% endif %}
        {% if ask.siret and ask.siret != "null" %}
            <li>SIRET : {{ ask.siret }}</li>
        {% endif %}
        {% if ask.sirenOrRm and ask.sirenOrRm != "null" %}
            <li>SIREN ou RM : {{ ask.sirenOrRm }}</li>
        {% endif %}
        {% if ask.lastName %}
            <li>Nom : {{ ask.lastName }}</li>
        {% endif %}
        {% if ask.firstName %}
            <li>Prénom : {{ ask.firstName }}</li>
        {% endif %}
        {% if ask.email %}
            <li>Email : {{ ask.email }}</li>
        {% endif %}
        {% if ask.phoneNumber %}
            <li>Numéro de téléphone : {{ ask.phoneNumber }}</li>
        {% endif %}
        {% if ask.address %}
            <li>Adresse : {{ ask.address }}</li>
        {% endif %}
        {% if ask.postalCode %}
            <li>Code Postal : {{ ask.postalCode }}</li>
        {% endif %}
        {% if ask.city %}
            <li>Ville : {{ ask.city }}</li>
        {% endif %}
        {% if ask.department %}
            <li>Département : {{ ask.department }}</li>
        {% endif %}
        {% if ask.country %}
            <li>Pays : {{ ask.country }}</li>
        {% endif %}
        {% if ask.activityCategory %}
            <li>Catégorie d'activité : {{ ask.activityCategory }}</li>
        {% endif %}
        {% if ask.handicap == 1 %}
            <li>Handicap : Oui</li>
        {% else %}
            <li>Handicap : Non</li>
        {% endif %}
    </ul>
</div>

<div>
    <h2>Pré-requis : </h2>
    <ul>
        {% for key, value in prerequisites %}
            <li>{{ key }} : {{ value }}</li>
        {% else %}
            <i>Pas de prérequis</i>
        {% endfor %}
    </ul>
</div>

<div>
    <h2>Les stagiaires : </h2>
    {% for stagiaire in stagiaires %}
    <ul>
        <li>Prénom : {{ stagiaire.firstName }}</li>
        <li>Nom : {{ stagiaire.lastName }}</li>
        <li>Email : {{ stagiaire.email }}</li>
        <li>Numéro de téléphone : {{ stagiaire.phoneNumber }}</li>
        <li>Poste occupé et depuis combien de temps : {{ stagiaire.currentJob }}</li>
        {% if stagiaire.handicap == 1 %}
            <li>Handicap : Oui</li>
        {% else %}
            <li>Handicap : Non</li>
        {% endif %}
    </ul>
    {% else %}
    <p><i>Pas de stagiaire</i></p>
    {% endfor %}
</div>

<div>
    <h2>Renseignements Utiles : </h2>
    <h3>Connaissance de notre centre de formation par...</h3>
    <ul>
        {% for item in ask.knowsUs %}
        <li>{{ item }}</li>
        {% else %}
        <i>Aucune donnée</i>
        {% endfor %}
    </ul>
</div>