<h1>Nouvelle demande de formation !</h1>

<p>
    Une nouvelle demande de formation a été effectuée sur <a href="https://lagoon-piscines.com">LAGOON&reg; Piscines</a>
    le {{ 'now'|date("d/m/Y \\à H:i") }}.
</p>

<div>
    <h2>Informations personnelles : </h2>
    <ul>
        {% if ask.lastName %}
            <li>Nom : {{ ask.lastName }}</li>
        {% endif %}
        {% if ask.firstName %}
            <li>Prénom : {{ ask.firstName }}</li>
        {% endif %}
        {% if ask.email %}
            <li>Email : {{ ask.email }}</li>
        {% endif %}
        {% if ask.phoneNumber %}
            <li>Numéro de téléphone : {{ ask.phoneNumber }}</li>
        {% endif %}
    </ul>
</div>

<div>
    <h2>Statut : </h2>
    <ul>
        {% if ask.status %}
            <li>Statut : {{ ask.status.statusName }}</li>
        {% endif %}
        {% if ask.companyName and ask.companyName != "null" %}
            <li>Nom de l'entreprise : {{ ask.companyName }}</li>
        {% endif %}
        {% if ask.companyPostalCode and ask.companyPostalCode != "null" %}
            <li>Code postal de l'entreprise : {{ ask.companyPostalCode }}</li>
        {% endif %}
    </ul>
</div>

<div>
    <h2>La formation : </h2>
    <ul>
        {% if ask.formationLibelle.libelle %}
            <li>Formation demandée : {{ ask.formationLibelle.libelle }}</li>
        {% endif %}
        {% if ask.numberOfLearners %}
            <li>Nombre de personnes à pré-inscrire à la formation : {{ ask.numberOfLearners }}</li>
        {% endif %}
        <li>
            A connu notre formation par...
            <ul>
                {% for item in ask.knowsUs %}
                    <li>{{ item }}</li>
                {% else %}
                    <em>Aucune donnée</em>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>